Repository get2knowio/deacon, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, build, deps

chore: add compose mount/env spec artifacts
  AGENTS.md
  specs/001-compose-mount-env/checklists/requirements.md
  specs/001-compose-mount-env/contracts/up.yaml
  specs/001-compose-mount-env/data-model.md
  specs/001-compose-mount-env/plan.md
  specs/001-compose-mount-env/quickstart.md
  specs/001-compose-mount-env/research.md
  specs/001-compose-mount-env/spec.md
  specs/001-compose-mount-env/tasks.md
Labels: none

Add branch argument support to sync-branch.sh
  .claude/commands/maverick.fly.md
  .claude/scripts/sync-branch.sh
Labels: none

chore: reorganize specs with proper numbering
  specs-completed/001-force-pty-up/checklists/requirements.md
  specs-completed/001-force-pty-up/contracts/pty-toggle.md
  specs-completed/001-force-pty-up/data-model.md
  specs-completed/001-force-pty-up/plan.md
  specs-completed/001-force-pty-up/quickstart.md
  specs-completed/001-force-pty-up/research.md
  specs-completed/001-force-pty-up/spec.md
  specs-completed/001-force-pty-up/tasks.md
  specs-completed/001-gpu-modes/checklists/requirements.md
  specs-completed/001-gpu-modes/contracts/openapi.yaml
  specs-completed/001-gpu-modes/data-model.md
  specs-completed/001-gpu-modes/plan.md
  specs-completed/001-gpu-modes/quickstart.md
  specs-completed/001-gpu-modes/research.md
  specs-completed/001-gpu-modes/spec.md
  specs-completed/001-gpu-modes/tasks.md
  specs/004-mergedconfig-metadata/checklists/requirements.md
  specs/004-mergedconfig-metadata/contracts/up-mergedconfiguration.yaml
  specs/004-mergedconfig-metadata/data-model.md
  specs/004-mergedconfig-metadata/plan.md
  specs/004-mergedconfig-metadata/quickstart.md
  specs/004-mergedconfig-metadata/research.md
  specs/004-mergedconfig-metadata/spec.md
  specs/004-mergedconfig-metadata/tasks.md
Labels: none

feat(up): add enriched mergedConfiguration with feature metadata and labels
  crates/core/src/config.rs
  crates/deacon/src/commands/up.rs
  crates/deacon/tests/up_merged_configuration.rs
  specs/004-mergedconfig-metadata/tasks.md
Labels: none

docs: clarify phased implementation and design decision patterns
  .specify/memory/constitution.md
  crates/deacon/src/commands/up.rs
  specs/004-mergedconfig-metadata/research.md
Labels: none

Implement mergedConfiguration metadata enrichment and deferral tracking
  .claude/settings.local.json
  .specify/memory/constitution.md
  .specify/templates/tasks-template.md
  CLAUDE.md
  REFACTOR.md
  crates/core/src/docker.rs
  crates/core/src/runtime.rs
  crates/deacon/src/commands/up.rs
  docs/mergedConfiguration-test-fixtures.md
  specs/004-mergedconfig-metadata/deferrals-plan.md
Labels: docs

Refactor merged configuration enrichment logic
  crates/core/src/docker.rs
  crates/deacon/src/commands/up.rs
Labels: none

Refactor OCI feature handling into submodules
  .claude/settings.local.json
  REFACTOR.md
  crates/core/src/oci.rs.old
  crates/core/src/oci/auth.rs
  crates/core/src/oci/client.rs
  crates/core/src/oci/fetcher.rs
  crates/core/src/oci/mod.rs
  crates/core/src/oci/types.rs
  crates/core/src/oci/utils.rs
  crates/deacon/src/commands/build/mod.rs
  crates/deacon/src/commands/features/mod.rs
  crates/deacon/src/commands/features/package.rs
  crates/deacon/src/commands/features/plan.rs
  crates/deacon/src/commands/features/publish.rs
  crates/deacon/src/commands/features/shared.rs
  crates/deacon/src/commands/features/test.rs
  crates/deacon/src/commands/features_monolith.rs
  crates/deacon/src/commands/mod.rs
  crates/deacon/src/commands/up.rs
Labels: none

docs: add up build parity planning
  AGENTS.md
  specs/007-up-build-parity/checklists/requirements.md
  specs/007-up-build-parity/contracts/up.md
  specs/007-up-build-parity/data-model.md
  specs/007-up-build-parity/plan.md
  specs/007-up-build-parity/quickstart.md
  specs/007-up-build-parity/research.md
  specs/007-up-build-parity/spec.md
  specs/007-up-build-parity/tasks.md
Labels: none

Add up lifecycle hooks spec and implementation plan
  AGENTS.md
  specs/008-up-lifecycle-hooks/checklists/requirements.md
  specs/008-up-lifecycle-hooks/contracts/up-lifecycle.yaml
  specs/008-up-lifecycle-hooks/data-model.md
  specs/008-up-lifecycle-hooks/plan.md
  specs/008-up-lifecycle-hooks/quickstart.md
  specs/008-up-lifecycle-hooks/research.md
  specs/008-up-lifecycle-hooks/spec.md
  specs/008-up-lifecycle-hooks/tasks.md
Labels: none

Shuffling specs around
  .claude/settings.local.json
  specs/005-compose-mount-env/checklists/requirements.md
  specs/005-compose-mount-env/contracts/up.yaml
  specs/005-compose-mount-env/data-model.md
  specs/005-compose-mount-env/plan.md
  specs/005-compose-mount-env/quickstart.md
  specs/005-compose-mount-env/research.md
  specs/005-compose-mount-env/spec.md
  specs/005-compose-mount-env/tasks.md
Labels: none

chore: add compose mount/env spec artifacts
  AGENTS.md
  specs/001-compose-mount-env/checklists/requirements.md
  specs/001-compose-mount-env/contracts/up.yaml
  specs/001-compose-mount-env/data-model.md
  specs/001-compose-mount-env/plan.md
  specs/001-compose-mount-env/quickstart.md
  specs/001-compose-mount-env/research.md
  specs/001-compose-mount-env/spec.md
  specs/001-compose-mount-env/tasks.md
Labels: none

feat(compose): implement spec-native mount/env injection without temp files
  .claude/commands/maverick.fly.md
  .claude/settings.local.json
  crates/core/src/compose.rs
  crates/deacon/src/commands/down.rs
  crates/deacon/src/commands/up.rs
  crates/deacon/tests/integration_compose_enhancements.rs
  specs/005-compose-mount-env/checklists/requirements.md
  specs/005-compose-mount-env/plan.md
  specs/005-compose-mount-env/quickstart.md
  specs/005-compose-mount-env/spec.md
  specs/005-compose-mount-env/tasks.md
Labels: none

Add specialized Claude agents and update maverick.fly.md
  .claude/agents/rust-code-reviewer.md
  .claude/agents/spec-compliance-reviewer.md
  .claude/agents/speckit-rust-implementer.md
  .claude/commands/maverick.fly.md
  .claude/scripts/sync-branch.sh
Labels: none

Remove .maverick directory and all contents
  .maverick/.gitignore
  .maverick/CONTRIBUTING.md
  .maverick/MIGRATION.md
  .maverick/README.md
  .maverick/package-lock.json
  .maverick/package.json
  .maverick/src/steps/coderabbit.mjs
  .maverick/src/steps/codex.mjs
  .maverick/src/steps/core.mjs
  .maverick/src/steps/opencode.mjs
  .maverick/src/steps/shell.mjs
  .maverick/src/steps/speckit.mjs
  .maverick/src/tasks/markdown.mjs
  .maverick/src/workflow.mjs
  .maverick/src/workflows/speckit.mjs
Labels: none

Reset all compose mount/env tasks to incomplete
  specs/005-compose-mount-env/tasks.md
Labels: none

fix(compose): improve YAML escaping and fail-fast mount parsing
  .claude/commands/maverick.fly.md
  crates/core/src/compose.rs
  crates/deacon/src/commands/up.rs
  specs/005-compose-mount-env/tasks.md
Labels: none

docs(tasks): document blocking I/O tech debt as deferred work (T022)
  specs/005-compose-mount-env/tasks.md
Labels: none

docs(tasks): add all deferred work items from code review (T023-T026)
  specs/005-compose-mount-env/tasks.md
Labels: none

docs(tasks): link deferred work items to GitHub issues
  specs/005-compose-mount-env/tasks.md
Labels: none

feat(scripts): add tech debt issue creation script
  .claude/commands/maverick.fly.md
  scripts/create_tech_debt_issue.py
Labels: ci

feat(scripts): add rich markdown body support to tech debt issue script
  scripts/create_tech_debt_issue.py
Labels: ci

chore: add workspace mount planning artifacts
  AGENTS.md
  specs/006-align-workspace-mounts/checklists/requirements.md
  specs/006-align-workspace-mounts/contracts/workspace-mounts.yaml
  specs/006-align-workspace-mounts/data-model.md
  specs/006-align-workspace-mounts/plan.md
  specs/006-align-workspace-mounts/quickstart.md
  specs/006-align-workspace-mounts/research.md
  specs/006-align-workspace-mounts/spec.md
  specs/006-align-workspace-mounts/tasks.md
Labels: none

feat(workspace): implement workspace mount consistency and git-root handling
  .specify/memory/constitution.md
  crates/core/src/compose.rs
  crates/core/src/workspace.rs
  crates/deacon/src/commands/up.rs
  crates/deacon/tests/workspace_mounts.rs
  specs/006-align-workspace-mounts/quickstart.md
  specs/006-align-workspace-mounts/tasks.md
Labels: none

Add maverick content
  .claude/agents/tech-debt-delegator.md
  .claude/commands/maverick.delegate.md
  .claude/commands/maverick.fly.md
Labels: none

Update claude approvals
  .claude/settings.local.json
Labels: none

Clean-up maverick scripts
  .claude/commands/maverick.fly.md
  .claude/scripts/create_tech_debt_issue.py
  scripts/run_tasks.py
Labels: ci

Refactor up.rs into smaller files
  crates/deacon/src/commands/up.rs
  crates/deacon/src/commands/up/args.rs
  crates/deacon/src/commands/up/compose.rs
  crates/deacon/src/commands/up/container.rs
  crates/deacon/src/commands/up/dotfiles.rs
  crates/deacon/src/commands/up/features_build.rs
  crates/deacon/src/commands/up/helpers.rs
  crates/deacon/src/commands/up/image_build.rs
  crates/deacon/src/commands/up/lifecycle.rs
  crates/deacon/src/commands/up/merged_config.rs
  crates/deacon/src/commands/up/mod.rs
  crates/deacon/src/commands/up/ports.rs
  crates/deacon/src/commands/up/result.rs
  crates/deacon/src/commands/up/tests.rs
Labels: none

Updated devcontainer JSON
  .devcontainer/devcontainer.json
Labels: none

docs: add up build parity planning
  AGENTS.md
  specs/007-up-build-parity/checklists/requirements.md
  specs/007-up-build-parity/contracts/up.md
  specs/007-up-build-parity/data-model.md
  specs/007-up-build-parity/plan.md
  specs/007-up-build-parity/quickstart.md
  specs/007-up-build-parity/research.md
  specs/007-up-build-parity/spec.md
  specs/007-up-build-parity/tasks.md
Labels: none

feat(up): add build parity and metadata support
  .config/nextest.toml
  Makefile
  crates/core/src/build/buildkit.rs
  crates/core/src/build/mod.rs
  crates/core/src/compose.rs
  crates/core/src/dockerfile_generator.rs
  crates/core/src/features.rs
  crates/core/src/lockfile.rs
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/build/mod.rs
  crates/deacon/src/commands/features/plan.rs
  crates/deacon/src/commands/features_monolith.rs
  crates/deacon/src/commands/read_configuration.rs
  crates/deacon/src/commands/up/args.rs
  crates/deacon/src/commands/up/container.rs
  crates/deacon/src/commands/up/features_build.rs
  crates/deacon/src/commands/up/image_build.rs
  crates/deacon/src/commands/up/merged_config.rs
  crates/deacon/src/commands/up/mod.rs
  crates/deacon/tests/integration_up_build_options.rs
  crates/deacon/tests/integration_up_with_features.rs
  crates/deacon/tests/up_lockfile_frozen.rs
  crates/deacon/tests/up_merged_configuration.rs
  specs/007-up-build-parity/contracts/up.md
  specs/007-up-build-parity/quickstart.md
  specs/007-up-build-parity/tasks.md
Labels: build

Make room for maverick plugin
  .claude/old/create_tech_debt_issue.py
  .claude/old/get-changed-files.sh
  .claude/old/manage-pr.sh
  .claude/old/maverick.delegate.md
  .claude/old/maverick.fly.md
  .claude/old/run-validation.sh
  .claude/old/rust-code-reviewer.md
  .claude/old/spec-compliance-reviewer.md
  .claude/old/speckit-rust-implementer.md
  .claude/old/sync-branch.sh
  .claude/old/tech-debt-delegator.md
Labels: none

Add local maverick marketplace
  .devcontainer/devcontainer.json
Labels: none

Add up lifecycle hooks spec and implementation plan
  AGENTS.md
  specs/008-up-lifecycle-hooks/checklists/requirements.md
  specs/008-up-lifecycle-hooks/contracts/up-lifecycle.yaml
  specs/008-up-lifecycle-hooks/data-model.md
  specs/008-up-lifecycle-hooks/plan.md
  specs/008-up-lifecycle-hooks/quickstart.md
  specs/008-up-lifecycle-hooks/research.md
  specs/008-up-lifecycle-hooks/spec.md
  specs/008-up-lifecycle-hooks/tasks.md
Labels: none

feat(core): add lifecycle phase state primitives and marker system
  crates/core/src/lifecycle.rs
  crates/core/src/state.rs
Labels: none

feat(core): integrate dotfiles execution into lifecycle ordering
  crates/core/src/dotfiles.rs
  crates/deacon/src/commands/up/dotfiles.rs
Labels: none

feat(core): add runtime hook rerun support for postStart/postAttach
  crates/core/src/container_lifecycle.rs
Labels: none

feat(cli): add lifecycle orchestration and phase summary UI
  crates/deacon/src/commands/run_user_commands.rs
  crates/deacon/src/commands/up/container.rs
  crates/deacon/src/commands/up/lifecycle.rs
  crates/deacon/src/ui/lifecycle_summary.rs
  crates/deacon/src/ui/mod.rs
Labels: none

test(lifecycle): add comprehensive lifecycle ordering and resume tests
  crates/core/tests/integration_container_lifecycle.rs
  crates/core/tests/integration_mock_runtime.rs
  crates/core/tests/integration_non_blocking_lifecycle.rs
  crates/core/tests/integration_per_command_events.rs
  crates/deacon/tests/smoke_lifecycle.rs
  crates/deacon/tests/up_dotfiles.rs
  crates/deacon/tests/up_lifecycle_recovery.rs
  crates/deacon/tests/up_prebuild.rs
Labels: none

chore: update configs and mark lifecycle tasks complete
  .claude/settings.local.json
  .config/nextest.toml
  .devcontainer/devcontainer.json
  Cargo.lock
  crates/core/Cargo.toml
  docs/subcommand-specs/upgrade/MAVERICK_APPROVALS.md
  specs/008-up-lifecycle-hooks/MAVERICK_APPROVALS.md
  specs/008-up-lifecycle-hooks/quickstart.md
  specs/008-up-lifecycle-hooks/tasks.md
Labels: docs, build, deps

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "examples/**"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**", "scripts/**"]

build:
  - changed-files:
      - any-glob-to-any-file: ["Cargo.toml", "crates/**/Cargo.toml", "Makefile"]

deps:
  - changed-files:
      - any-glob-to-any-file: ["Cargo.lock"]
