Repository get2knowio/deacon, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, build, deps

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "examples/**"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**", "scripts/**"]

build:
  - changed-files:
      - any-glob-to-any-file: ["Cargo.toml", "crates/**/Cargo.toml", "Makefile"]

deps:
  - changed-files:
      - any-glob-to-any-file: ["Cargo.lock"]

feat(cli): enhance feature testing command with additional options and deprecate positional argument
  crates/core/src/features_test/discovery.rs
  crates/core/src/features_test/errors.rs
  crates/core/src/features_test/mod.rs
  crates/core/src/features_test/model.rs
  crates/core/src/features_test/runner.rs
  crates/core/src/lib.rs
  crates/core/tests/features_test_discovery.rs
  crates/core/tests/features_test_paths.rs
  crates/core/tests/features_test_scenarios.rs
  crates/deacon/src/cli.rs
  crates/deacon/tests/runtime_unavailable_integration.rs
  crates/deacon/tests/test_features_cli.rs
  docs/subcommand-specs/features-test/GAP.md
  docs/subcommand-specs/features-test/SPEC.md
  docs/subcommand-specs/features-test/tasks/issue-354.md
Labels: docs

feat: add task runner script and update documentation for task completion status
  .gitignore
  scripts/run_tasks.py
  specs/005-features-test-gap/data-model.md
  specs/005-features-test-gap/quickstart.md
  specs/005-features-test-gap/tasks.md
Labels: ci

Merge origin/main into 005-features-test-cmd
  crates/deacon/src/commands/features.rs
  examples/README.md
Labels: docs

feat: add validation for feature metadata existence and JSON parsing
  crates/deacon/src/commands/features.rs
Labels: none

Ensure deterministic tarball creation and camelCase JSON keys
  crates/core/src/features_test/model.rs
  crates/deacon/src/commands/features.rs
  crates/deacon/tests/integration_features_test_json.rs
  crates/deacon/tests/test_features_cli.rs
Labels: none

Add specs for cargo-nextest parallel test feature
  specs/001-nextest-parallel-tests/checklists/requirements.md
  specs/001-nextest-parallel-tests/contracts/nextest-cli.openapi.yaml
  specs/001-nextest-parallel-tests/data-model.md
  specs/001-nextest-parallel-tests/plan.md
  specs/001-nextest-parallel-tests/quickstart.md
  specs/001-nextest-parallel-tests/research.md
  specs/001-nextest-parallel-tests/spec.md
  specs/001-nextest-parallel-tests/tasks.md
Labels: none

Add cargo-nextest parallel test integration
  .config/nextest.toml
  .deacon/cache/audit.jsonl
  .github/copilot-instructions.md
  .github/workflows/build-macos.yml
  .github/workflows/ci-other-os.yml
  .github/workflows/ci.yml
  .gitignore
  Makefile
  README.md
  artifacts/nextest/.gitkeep
  artifacts/nextest/README.md
  artifacts/nextest/full-timing.json
  crates/core/.deacon/cache/audit.jsonl
  crates/core/src/features_test/runner.rs
  crates/core/src/progress.rs
  crates/deacon/.deacon/cache/audit.jsonl
  crates/deacon/src/commands/exec.rs
  crates/deacon/src/commands/read_configuration.rs
  crates/deacon/src/commands/run_user_commands.rs
  crates/deacon/src/commands/up.rs
  crates/deacon/tests/integration_build.rs
  crates/deacon/tests/integration_build_args.rs
  crates/deacon/tests/integration_custom_container_name.rs
  crates/deacon/tests/integration_e2e.rs
  crates/deacon/tests/integration_exec_id_label.rs
  crates/deacon/tests/integration_read_configuration.rs
  crates/deacon/tests/integration_up_initialize_command.rs
  crates/deacon/tests/smoke_basic.rs
  crates/deacon/tests/smoke_compose_edges.rs
  crates/deacon/tests/smoke_down.rs
  crates/deacon/tests/smoke_exec.rs
  crates/deacon/tests/smoke_exec_stdin.rs
  crates/deacon/tests/smoke_lifecycle.rs
  crates/deacon/tests/smoke_up_idempotent.rs
  crates/deacon/tests/support/mod.rs
  crates/deacon/tests/test_features_cli.rs
  docs/testing/nextest.md
  scripts/nextest/README.md
  scripts/nextest/assert-installed.sh
  scripts/nextest/capture-timing.sh
Labels: docs, ci, build

Remove composite Rust CI action and update workflows
  .github/actions/rust-ci-steps/README.md
  .github/actions/rust-ci-steps/action.yml
  .github/workflows/ci-other-os.yml
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
Labels: ci

Add GHCR bearer token acquisition to CI workflows
  .github/workflows/build-macos.yml
  .github/workflows/ci-other-os.yml
  .github/workflows/ci.yml
  README.md
Labels: ci

Refactor CI test suite to two-pass nextest run
  Makefile
  crates/deacon/src/cli.rs
Labels: build

Fix indentation in test-nextest-ci Makefile target
  Makefile
Labels: build

Update test filters in Makefile for cargo-nextest
  Makefile
Labels: build

Update .gitignore and Makefile filters, remove audit cache
  .gitignore
  Makefile
  crates/deacon/.deacon/cache/audit.jsonl
Labels: build

Refactor container naming and improve cache migration warning
  .gitignore
  artifacts/nextest/full-timing.json
  crates/core/src/features_test/runner.rs
  crates/core/src/progress.rs
  crates/deacon/src/commands/up.rs
  crates/deacon/tests/test_features_cli.rs
Labels: none

Moved completed spec
  specs-completed/001-nextest-parallel-tests/checklists/requirements.md
  specs-completed/001-nextest-parallel-tests/contracts/nextest-cli.openapi.yaml
  specs-completed/001-nextest-parallel-tests/data-model.md
  specs-completed/001-nextest-parallel-tests/plan.md
  specs-completed/001-nextest-parallel-tests/quickstart.md
  specs-completed/001-nextest-parallel-tests/research.md
  specs-completed/001-nextest-parallel-tests/spec.md
  specs-completed/001-nextest-parallel-tests/tasks.md
Labels: none

Add build subcommand parity closure specs
  .github/copilot-instructions.md
  specs/006-build-subcommand/checklists/requirements.md
  specs/006-build-subcommand/contracts/build-cli-contract.yaml
  specs/006-build-subcommand/data-model.md
  specs/006-build-subcommand/plan.md
  specs/006-build-subcommand/quickstart.md
  specs/006-build-subcommand/research.md
  specs/006-build-subcommand/spec.md
  specs/006-build-subcommand/tasks.md
Labels: none

Add maverick.sh script and update devcontainer mounts
  .devcontainer/devcontainer.json
  maverick.sh
Labels: none

fix: remove Eq derive from FeatureMetadata to avoid HashMap/Value violations
  .maverick/.gitignore
  .maverick/README.md
  .maverick/package-lock.json
  .maverick/package.json
  .maverick/src/workflow-core.mjs
  .maverick/src/workflow.mjs
  crates/core/src/build/buildkit.rs
  crates/core/src/build/metadata.rs
  crates/core/src/build/mod.rs
  crates/core/src/compose.rs
  crates/core/src/docker.rs
  crates/core/src/lib.rs
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/build/mod.rs
  crates/deacon/src/commands/build/result.rs
  crates/deacon/tests/integration_build.rs
  crates/deacon/tests/integration_build_args.rs
  crates/deacon/tests/json_output_purity.rs
  crates/deacon/tests/parity_build.rs
  crates/deacon/tests/smoke_compose_edges.rs
  docs/CLI_PARITY.md
  docs/subcommand-specs/build/GAP.md
  docs/subcommand-specs/build/SPEC.md
  examples/README.md
  examples/build/compose-service-target/.devcontainer.json
  examples/build/compose-service-target/Dockerfile
  examples/build/compose-service-target/README.md
  examples/build/compose-service-target/docker-compose.yml
  examples/build/image-reference/.devcontainer.json
  examples/build/image-reference/README.md
  fixtures/config/build/compose-service-target/Dockerfile
  fixtures/config/build/compose-service-target/devcontainer.json
  fixtures/config/build/compose-service-target/docker-compose.yml
  fixtures/config/build/image-reference/devcontainer.json
  specs/006-build-subcommand/coderabbit.md
  specs/006-build-subcommand/quickstart.md
  specs/006-build-subcommand/review.md
  specs/006-build-subcommand/tasks.md
Labels: docs

fix: output build errors to stderr instead of stdout for consistency
  crates/deacon/src/commands/build/mod.rs
  crates/deacon/tests/integration_build.rs
Labels: none

fix: assert docker inspect succeeds before checking labels in test
  crates/deacon/tests/integration_build_args.rs
Labels: none

fix: read all secret values before creating temp files to prevent premature cleanup
  crates/deacon/src/commands/build/mod.rs
Labels: none

fix: use tokio::process::Command instead of std::process in async function
  crates/deacon/src/commands/build/mod.rs
Labels: none

fix: replace DefaultHasher with SHA256 for stable, deterministic cache keys
  crates/deacon/src/commands/build/mod.rs
Labels: none

refactor: add private fields, accessors, Eq, Hash, and Display to BuildError and BuildSuccess
  crates/deacon/src/commands/build/mod.rs
  crates/deacon/src/commands/build/result.rs
Labels: none

docs: add comprehensive rustdoc to build_service and validate_service_exists
  crates/core/src/compose.rs
Labels: none

test: add #[ignore] to Docker-dependent JSON output tests
  crates/deacon/tests/json_output_purity.rs
Labels: none

fix(build): emit JSON errors to stdout instead of stderr
  crates/deacon/src/commands/build/mod.rs
Labels: none

fix(build): update test assertions to check for spec-compliant imageName field
  crates/deacon/tests/integration_build.rs
Labels: none

fix(build): add fail-fast check for unsupported feature installation
  crates/deacon/src/commands/build/mod.rs
Labels: none

fix(build): add hidden/experimental CLI flags for feature control
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/build/mod.rs
Labels: none

refactor(build): consolidate BuildKit availability checks
  crates/deacon/src/commands/build/mod.rs
Labels: none

fix(build): update cache-to test to accept Docker driver error
  crates/deacon/tests/integration_build.rs
Labels: none

fix(build): update test_build_with_image_config for working image builds
  crates/deacon/tests/integration_build.rs
Labels: none

chore(build): fix clippy warnings
  crates/deacon/src/commands/build/mod.rs
Labels: none

Add comprehensive build subcommand code review
  .gitignore
  Makefile
  crates/deacon/src/commands/build/mod.rs
  crates/deacon/tests/integration_build_args.rs
  crates/deacon/tests/integration_vulnerability_scan.rs
  crates/deacon/tests/smoke_basic.rs
  specs/006-build-subcommand/review.md
Labels: build

Update Opencode prompt to exclude coderabbit.md
  .maverick/src/workflow-core.mjs
  .maverick/src/workflow.mjs
Labels: none

Add exec subcommand specification and planning docs
  specs/007-exec-subcommand/checklists/requirements.md
  specs/007-exec-subcommand/contracts/exec.openapi.yaml
  specs/007-exec-subcommand/data-model.md
  specs/007-exec-subcommand/plan.md
  specs/007-exec-subcommand/quickstart.md
  specs/007-exec-subcommand/research.md
  specs/007-exec-subcommand/spec.md
  specs/007-exec-subcommand/tasks.md
Labels: none

Move build subcommand specs to completed folder
  specs-completed/006-build-subcommand/checklists/requirements.md
  specs-completed/006-build-subcommand/coderabbit.md
  specs-completed/006-build-subcommand/contracts/build-cli-contract.yaml
  specs-completed/006-build-subcommand/data-model.md
  specs-completed/006-build-subcommand/plan.md
  specs-completed/006-build-subcommand/quickstart.md
  specs-completed/006-build-subcommand/research.md
  specs-completed/006-build-subcommand/review.md
  specs-completed/006-build-subcommand/spec.md
  specs-completed/006-build-subcommand/tasks.md
Labels: none

Move build subcommand specs to completed-specs
  docs/completed-specs/DATA-STRUCTURES.md
  docs/completed-specs/DIAGRAMS.md
  docs/completed-specs/GAP.md
  docs/completed-specs/README.md
  docs/completed-specs/SPEC.md
  docs/completed-specs/tasks/01-cli-flags-and-parsing.md
  docs/completed-specs/tasks/02-validation-and-gating.md
  docs/completed-specs/tasks/03-json-output-contract.md
  docs/completed-specs/tasks/04-image-tagging-and-defaults.md
  docs/completed-specs/tasks/05-buildkit-output-and-cache.md
  docs/completed-specs/tasks/06-image-reference-mode.md
  docs/completed-specs/tasks/07-compose-mode-build.md
  docs/completed-specs/tasks/08-metadata-label-injection.md
  docs/completed-specs/tasks/09-features-installation-during-build.md
  docs/completed-specs/tasks/10-tests-and-examples.md
  docs/completed-specs/tasks/11-hidden-experimental-flags.md
  docs/completed-specs/tasks/12-error-shapes-and-exit-codes.md
  docs/completed-specs/tasks/13-state-management-and-lockfiles.md
  docs/completed-specs/tasks/14-docker-runtime-push-and-detection.md
Labels: docs

Refactor workflow-core.mjs for improved readability and maintainability
  .maverick/src/workflow-core.mjs
Labels: none
