Repository get2knowio/deacon, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, build, deps

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "examples/**"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**", "scripts/**"]

build:
  - changed-files:
      - any-glob-to-any-file: ["Cargo.toml", "crates/**/Cargo.toml", "Makefile"]

deps:
  - changed-files:
      - any-glob-to-any-file: ["Cargo.lock"]

refactor: address code review feedback
  .devcontainer/devcontainer.json
  crates/core/src/container_lifecycle.rs
  crates/core/src/dotfiles.rs
  crates/deacon/tests/cli_flags_features_info.rs
  specs/008-up-lifecycle-hooks/MAVERICK_APPROVALS.md
  specs/008-up-lifecycle-hooks/tasks.md
Labels: none

refactor(008-up-lifecycle-hooks): address code review feedback
  specs/008-up-lifecycle-hooks/MAVERICK_APPROVALS.md
Labels: none

fix(lifecycle): add blocking phase marker persistence and test fixes
  .config/nextest.toml
  crates/core/src/container_lifecycle.rs
  crates/core/tests/integration_oci_auth.rs
  crates/deacon/src/commands/build/mod.rs
  crates/deacon/src/commands/read_configuration.rs
  crates/deacon/src/commands/up/lifecycle.rs
  crates/deacon/tests/up_dotfiles.rs
Labels: none

fix(ci): correct YAML indentation for long-running job
  .github/workflows/ci.yml
Labels: ci

fix(test): use absolute workspace path to avoid git root resolution
  crates/deacon/tests/integration_up_with_features.rs
Labels: none

fix(cli): enable --mount-workspace-git-root flag to accept false value
  crates/deacon/src/cli.rs
  crates/deacon/tests/integration_up_with_features.rs
Labels: none

fix(config): allow .jsonc extension for devcontainer config files
  crates/deacon/src/commands/shared/config_loader.rs
Labels: none

feat(release): add install.sh script and GitHub Pages deployment
  .github/workflows/release.yml
  README.md
  scripts/install.sh
Labels: ci

chore: bump version to 0.2.0
  Cargo.lock
  crates/core/Cargo.toml
  crates/deacon/Cargo.toml
Labels: build, deps

ci(release): build MVP-only features for releases
  .github/workflows/release.yml
Labels: ci

fix(up): include error description in stderr output
  crates/deacon/src/cli.rs
Labels: none

docs(CLAUDE.md): add guidance to fix all failures even if unrelated
  CLAUDE.md
Labels: none

fix: add feature gates for non-MVP modules
  crates/deacon/src/commands/mod.rs
  crates/deacon/src/main.rs
Labels: none

fix: add feature gates to non-MVP test files
  crates/deacon/tests/build_consistency.rs
  crates/deacon/tests/cli_flags_features_info.rs
  crates/deacon/tests/integration_build.rs
  crates/deacon/tests/integration_build_args.rs
  crates/deacon/tests/integration_cli.rs
  crates/deacon/tests/integration_doctor.rs
  crates/deacon/tests/integration_features_info_auth.rs
  crates/deacon/tests/integration_features_info_dependencies.rs
  crates/deacon/tests/integration_features_info_local.rs
  crates/deacon/tests/integration_features_info_manifest.rs
  crates/deacon/tests/integration_features_info_tags.rs
  crates/deacon/tests/integration_features_info_verbose.rs
  crates/deacon/tests/integration_features_package.rs
  crates/deacon/tests/integration_features_publish.rs
  crates/deacon/tests/integration_features_test_json.rs
  crates/deacon/tests/integration_outdated_extends.rs
  crates/deacon/tests/integration_outdated_fail_flag.rs
  crates/deacon/tests/integration_outdated_json.rs
  crates/deacon/tests/integration_outdated_local_features.rs
  crates/deacon/tests/integration_outdated_resilience.rs
  crates/deacon/tests/integration_outdated_text.rs
  crates/deacon/tests/integration_progress.rs
  crates/deacon/tests/integration_template_apply.rs
  crates/deacon/tests/integration_vulnerability_scan.rs
  crates/deacon/tests/json_output_purity.rs
  crates/deacon/tests/outdated_explicit_config.rs
  crates/deacon/tests/outdated_text_render.rs
  crates/deacon/tests/parity_build.rs
  crates/deacon/tests/perf_outdated.rs
  crates/deacon/tests/runtime_unavailable_integration.rs
  crates/deacon/tests/smoke_basic.rs
  crates/deacon/tests/smoke_cli.rs
  crates/deacon/tests/smoke_compose_edges.rs
  crates/deacon/tests/smoke_doctor_text.rs
  crates/deacon/tests/smoke_run_user_commands.rs
  crates/deacon/tests/test_additional_features.rs
  crates/deacon/tests/test_features_cli.rs
  crates/deacon/tests/test_templates_cli.rs
Labels: none

fix(tests): use non-strict timestamp comparison in lifecycle tests
  crates/deacon/tests/smoke_lifecycle.rs
Labels: none

fix(tests): ignore flaky dotfiles lifecycle test in CI
  crates/deacon/tests/smoke_lifecycle.rs
Labels: none

ci(release): run only unit tests for MVP release verification
  .github/workflows/release.yml
Labels: ci

docs: streamline README with install instructions above the fold
  README.md
Labels: none

docs: add In Progress section to README
  README.md
Labels: none

docs: add testcontainers migration tracking for #436
  docs/testcontainers-migration.md
Labels: docs

feat(tests): add testcontainers foundation for #436
  .claude/settings.local.json
  .devcontainer-state/dotfiles.json
  .devcontainer-state/postCreate.json
  .devcontainer-state/prebuild/updateContent.json
  .devcontainer-state/updateContent.json
  Cargo.lock
  Makefile
  crates/core/Cargo.toml
  crates/deacon/Cargo.toml
  crates/deacon/tests/testcontainers_helpers.rs
  docs/MVP-ROADMAP.md
Labels: docs, build, deps

docs: document smoke tests not needing testcontainers migration
  crates/deacon/tests/integration_exec_selection.rs
  docs/testcontainers-migration.md
Labels: docs

docs: exclude parity tests from testcontainers migration
  docs/testcontainers-migration.md
Labels: docs

refactor(tests): migrate exec tests to testcontainers
  crates/deacon/tests/integration_exec_id_label.rs
  crates/deacon/tests/testcontainers_helpers.rs
Labels: none

fix(tests): address review findings for testcontainers migration
  .config/nextest.toml
  Cargo.lock
  crates/core/Cargo.toml
  crates/deacon/Cargo.toml
  docs/testcontainers-migration.md
Labels: docs, build, deps

refactor(tests): clean up testcontainers helpers and tests
  crates/deacon/tests/integration_exec_id_label.rs
  crates/deacon/tests/integration_exec_selection.rs
  crates/deacon/tests/testcontainers_helpers.rs
Labels: none

fix(docker): handle newer BuildKit image ID output formats
  crates/core/src/docker.rs
Labels: none

fix(tests): ensure dotfiles tests use fresh containers
  crates/deacon/tests/up_dotfiles.rs
Labels: none

ci: add Docker cleanup to prevent disk space exhaustion
  .github/workflows/ci.yml
Labels: ci

Update runtime selection docs to reflect Docker-only support
  README.md
Labels: none

test: ignore dotfiles tests (not in MVP)
  crates/deacon/tests/up_dotfiles.rs
  docs/MVP-ROADMAP.md
Labels: docs

ci: aggressively free disk space on GitHub runners
  .github/workflows/ci.yml
Labels: ci

test: ignore flaky and environment-specific tests in CI
  crates/deacon/tests/integration_features_info_auth.rs
  crates/deacon/tests/smoke_run_user_commands.rs
  crates/deacon/tests/smoke_spinner.rs
Labels: none

ci: move disk cleanup to run BEFORE cache restore
  .github/workflows/ci.yml
Labels: ci

test: ignore tests using non-existent 'config substitute' subcommand
  crates/core/tests/integration_spans.rs
Labels: none

test: ignore remaining flaky span logging test
  crates/core/tests/integration_spans.rs
Labels: none

ci: exclude smoke tests from CI profile to avoid redundancy
  .config/nextest.toml
Labels: none

ci: add disk cleanup to lint and podman jobs
  .github/workflows/ci.yml
Labels: ci

ci: consolidate CI workflow from 7 jobs to 3 for MVP focus
  .config/nextest.toml
  .github/workflows/ci.yml
  Makefile
Labels: ci, build

ci: make test-integration depend on test-fast for fail-fast behavior
  .github/workflows/ci.yml
Labels: ci
