Repository get2knowio/deacon, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, build, deps

Move spec 001 to completed
  specs-completed/001-read-config-parity/checklists/requirements.md
  specs-completed/001-read-config-parity/contracts/read-configuration.schema.json
  specs-completed/001-read-config-parity/data-model.md
  specs-completed/001-read-config-parity/plan.md
  specs-completed/001-read-config-parity/quickstart.md
  specs-completed/001-read-config-parity/research.md
  specs-completed/001-read-config-parity/spec.md
  specs-completed/001-read-config-parity/tasks.md
Labels: none

Add Close Spec Gap planning feature documentation
  .github/copilot-instructions.md
  specs/001-close-spec-gap/checklists/requirements.md
  specs/001-close-spec-gap/contracts/plan.schema.json
  specs/001-close-spec-gap/data-model.md
  specs/001-close-spec-gap/plan.md
  specs/001-close-spec-gap/quickstart.md
  specs/001-close-spec-gap/research.md
  specs/001-close-spec-gap/spec.md
  specs/001-close-spec-gap/tasks.md
Labels: none

fix: update active technologies section by removing obsolete entries
  .github/copilot-instructions.md
Labels: none

Add specs for features package collection
  .github/copilot-instructions.md
  specs/002-features-package-collection/checklists/requirements.md
  specs/002-features-package-collection/contracts/openapi.yaml
  specs/002-features-package-collection/data-model.md
  specs/002-features-package-collection/plan.md
  specs/002-features-package-collection/quickstart.md
  specs/002-features-package-collection/research.md
  specs/002-features-package-collection/spec.md
  specs/002-features-package-collection/tasks.md
Labels: none

docs(specs): add spec 003 features-publish-compliance and quality checklist
  specs/003-features-publish-compliance/checklists/requirements.md
  specs/003-features-publish-compliance/spec.md
Labels: none

Add spec compliance docs and contracts for features publish
  .github/copilot-instructions.md
  specs/003-features-publish-compliance/contracts/oci-openapi.yaml
  specs/003-features-publish-compliance/contracts/publish-output.schema.json
  specs/003-features-publish-compliance/data-model.md
  specs/003-features-publish-compliance/plan.md
  specs/003-features-publish-compliance/quickstart.md
  specs/003-features-publish-compliance/research.md
  specs/003-features-publish-compliance/spec.md
  specs/003-features-publish-compliance/tasks.md
Labels: none

Add specs for Features Info GAP closure
  .github/copilot-instructions.md
  specs/004-close-features-info-gap/checklists/requirements.md
  specs/004-close-features-info-gap/contracts/features-info.openapi.yaml
  specs/004-close-features-info-gap/data-model.md
  specs/004-close-features-info-gap/plan.md
  specs/004-close-features-info-gap/quickstart.md
  specs/004-close-features-info-gap/research.md
  specs/004-close-features-info-gap/spec.md
  specs/004-close-features-info-gap/tasks.md
Labels: none

Add specs for features test gap closure
  .github/copilot-instructions.md
  specs/005-features-test-gap/checklists/requirements.md
  specs/005-features-test-gap/contracts/openapi.yaml
  specs/005-features-test-gap/data-model.md
  specs/005-features-test-gap/plan.md
  specs/005-features-test-gap/quickstart.md
  specs/005-features-test-gap/research.md
  specs/005-features-test-gap/spec.md
  specs/005-features-test-gap/tasks.md
Labels: none

chore: migrate to devcontainer (preserve work)
  .devcontainer/devcontainer.json
  crates/core/src/features.rs
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/features.rs
  crates/deacon/tests/test_features_cli.rs
  docs/subcommand-specs/features-plan/DATA-STRUCTURES.md
  docs/subcommand-specs/features-plan/SPEC.md
  specs/001-close-spec-gap/checklists/requirements.md
  specs/001-close-spec-gap/plan.md
  specs/001-close-spec-gap/quickstart.md
  specs/001-close-spec-gap/tasks.md
Labels: docs

chore: migrate to devcontainer (preserve work)
  .devcontainer/devcontainer.json
  Cargo.lock
  crates/deacon/Cargo.toml
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/features.rs
  crates/deacon/src/commands/features/unit_features_package.rs
  crates/deacon/tests/integration_features_package.rs
  crates/deacon/tests/test_features_cli.rs
  crates/deacon/tests/unit_features_package.rs
  specs/002-features-package-collection/checklists/requirements.md
  specs/002-features-package-collection/plan.md
  specs/002-features-package-collection/spec.md
  specs/002-features-package-collection/tasks.md
Labels: build, deps

chore: migrate to devcontainer (preserve work)
  crates/core/src/features.rs
  crates/core/src/oci.rs
  crates/core/src/semver_utils.rs
  crates/core/tests/integration_features.rs
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/features.rs
  crates/deacon/src/commands/features_publish_output.rs
  crates/deacon/src/commands/mod.rs
  crates/deacon/tests/integration_features_publish.rs
  crates/deacon/tests/test_features_cli.rs
  docs/subcommand-specs/features-publish/SPEC.md
  specs/003-features-publish-compliance/plan.md
  specs/003-features-publish-compliance/spec.md
  specs/003-features-publish-compliance/tasks.md
Labels: docs

fix: improve error handling for OCI feature metadata fetching
  crates/deacon/src/commands/features.rs
Labels: none

feat(features): add JSON output option for feature commands
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/features.rs
Labels: none

chore(devcontainer): update workspace configuration and mounts
  .devcontainer/devcontainer.json
Labels: none

feat: add JSON schemas for features info manifest and verbose output
  .github/copilot-instructions.md
  specs/004-close-features-info-gap/contracts/features-info.manifest.json
  specs/004-close-features-info-gap/contracts/features-info.verbose.json
  specs/004-close-features-info-gap/plan.md
  specs/004-close-features-info-gap/spec.md
  specs/004-close-features-info-gap/tasks.md
Labels: none

refactor(copilot-instructions): update CI commands for improved clarity and consistency
  .github/copilot-instructions.md
  specs/005-features-test-gap/plan.md
  specs/005-features-test-gap/spec.md
  specs/005-features-test-gap/tasks.md
Labels: none

feat: Add speckit commands for opencode
  .opencode/command/speckit.analyze.md
  .opencode/command/speckit.checklist.md
  .opencode/command/speckit.clarify.md
  .opencode/command/speckit.constitution.md
  .opencode/command/speckit.implement.md
  .opencode/command/speckit.plan.md
  .opencode/command/speckit.specify.md
  .opencode/command/speckit.tasks.md
Labels: none

feat: Add speckit commands for opencode
  .opencode/command/speckit.analyze.md
  .opencode/command/speckit.checklist.md
  .opencode/command/speckit.clarify.md
  .opencode/command/speckit.constitution.md
  .opencode/command/speckit.implement.md
  .opencode/command/speckit.plan.md
  .opencode/command/speckit.specify.md
  .opencode/command/speckit.tasks.md
Labels: none

Add examples
  examples/feature-plan/additional-features-merge/README.md
  examples/feature-plan/additional-features-merge/devcontainer.json
  examples/feature-plan/additional-features-merge/feature-local/devcontainer-feature.json
  examples/feature-plan/complex-graph/README.md
  examples/feature-plan/complex-graph/devcontainer.json
  examples/feature-plan/complex-graph/feature-aux/devcontainer-feature.json
  examples/feature-plan/complex-graph/feature-core/devcontainer-feature.json
  examples/feature-plan/complex-graph/feature-extension/devcontainer-feature.json
  examples/feature-plan/complex-graph/feature-plugin-1/devcontainer-feature.json
  examples/feature-plan/complex-graph/feature-plugin-2/devcontainer-feature.json
  examples/feature-plan/cycle-detection/README.md
  examples/feature-plan/cycle-detection/devcontainer.json
  examples/feature-plan/cycle-detection/feature-x/devcontainer-feature.json
  examples/feature-plan/cycle-detection/feature-y/devcontainer-feature.json
  examples/feature-plan/cycle-detection/feature-z/devcontainer-feature.json
  examples/feature-plan/empty/README.md
  examples/feature-plan/empty/devcontainer.json
  examples/feature-plan/simple-chain/README.md
  examples/feature-plan/simple-chain/devcontainer.json
  examples/feature-plan/simple-chain/feature-a/devcontainer-feature.json
  examples/feature-plan/simple-chain/feature-b/devcontainer-feature.json
  examples/feature-plan/simple-chain/feature-c/devcontainer-feature.json
Labels: docs

Add examples
  .github/copilot-instructions.md
Labels: none

Add examples
  examples/feature-package/collection-basic/README.md
  examples/feature-package/collection-basic/src/feature-a/devcontainer-feature.json
  examples/feature-package/collection-basic/src/feature-b/devcontainer-feature.json
  examples/feature-package/force-clean/README.md
  examples/feature-package/force-clean/devcontainer-feature.json
  examples/feature-package/force-clean/output/OLD_ARTIFACT.tgz
  examples/feature-package/invalid-feature/README.md
  examples/feature-package/invalid-feature/devcontainer-feature.json
  examples/feature-package/non-ascii/README.md
  examples/feature-package/non-ascii/src/ümlaut-feature/devcontainer-feature.json
  examples/feature-package/single-feature/README.md
  examples/feature-package/single-feature/devcontainer-feature.json
Labels: docs

Add examples
  examples/feature-publish/README.md
  examples/feature-publish/auth-local-registry/README.md
  examples/feature-publish/auth-local-registry/devcontainer-feature.json
  examples/feature-publish/idempotent-republish/README.md
  examples/feature-publish/idempotent-republish/devcontainer-feature.json
  examples/feature-publish/invalid-version/README.md
  examples/feature-publish/invalid-version/devcontainer-feature.json
  examples/feature-publish/multi-feature-collection/README.md
  examples/feature-publish/multi-feature-collection/devcontainer-collection.json
  examples/feature-publish/multi-feature-collection/features/alpha/devcontainer-feature.json
  examples/feature-publish/multi-feature-collection/features/beta/devcontainer-feature.json
  examples/feature-publish/single-feature-basic/README.md
  examples/feature-publish/single-feature-basic/devcontainer-feature.json
  examples/registry/dry-run-publish/README.md
Labels: docs

Enhance JSON output for features publish command
  crates/core/src/oci.rs
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/features.rs
  crates/deacon/src/commands/features_publish_output.rs
  crates/deacon/tests/integration_features_publish.rs
  specs/003-features-publish-compliance/quickstart.md
  specs/003-features-publish-compliance/tasks.md
Labels: none

chore(copilot-instructions): update build and formatting commands for quieter output
  .github/copilot-instructions.md
Labels: none

fix: update build and formatting commands to use quiet mode
  .github/copilot-instructions.md
Labels: none

Update Copilot instructions to use quiet mode for build and formatting commands
  .github/copilot-instructions.md
Labels: none

Create acceptance checklist for features-info subcommand
  specs/004-close-features-info-gap/checklists/features-info.md
Labels: none

feat(T014): Implement canonical ID helper for OCI manifests
  .opencode/agent/orchestrator.md
  .opencode/agent/task-verifier.md
  .opencode/command/orchestrate.md
  AGENTS.md
  crates/core/src/features_info.rs
  crates/core/src/lib.rs
  crates/core/src/oci.rs
  crates/core/src/text/boxing.rs
  crates/core/src/text/mod.rs
  crates/core/tests/canonical_id.rs
  crates/core/tests/features_info_models.rs
  crates/core/tests/integration_oci_auth.rs
  crates/core/tests/integration_oci_enhancements.rs
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/build.rs
  crates/deacon/src/commands/features.rs
  crates/deacon/tests/integration_features_info_manifest.rs
  specs/004-close-features-info-gap/other/features-info.md
  specs/004-close-features-info-gap/tasks.md
Labels: none

feat(T028): Enable DEACON_NETWORK_TESTS=1 in CI for all integration test jobs
  .github/workflows/ci.yml
  specs/004-close-features-info-gap/tasks.md
Labels: ci

refactor(features_test): update features command to use encapsulated API
  crates/deacon/src/commands/features.rs
Labels: none

feat: add features plan command (#386)
  .github/copilot-instructions.md
  crates/core/src/features.rs
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/features.rs
  crates/deacon/tests/test_features_cli.rs
  docs/subcommand-specs/features-plan/DATA-STRUCTURES.md
  docs/subcommand-specs/features-plan/SPEC.md
  examples/feature-plan/additional-features-merge/README.md
  examples/feature-plan/additional-features-merge/devcontainer.json
  examples/feature-plan/additional-features-merge/feature-local/devcontainer-feature.json
  examples/feature-plan/complex-graph/README.md
  examples/feature-plan/complex-graph/devcontainer.json
  examples/feature-plan/complex-graph/feature-aux/devcontainer-feature.json
  examples/feature-plan/complex-graph/feature-core/devcontainer-feature.json
  examples/feature-plan/complex-graph/feature-extension/devcontainer-feature.json
  examples/feature-plan/complex-graph/feature-plugin-1/devcontainer-feature.json
  examples/feature-plan/complex-graph/feature-plugin-2/devcontainer-feature.json
  examples/feature-plan/cycle-detection/README.md
  examples/feature-plan/cycle-detection/devcontainer.json
  examples/feature-plan/cycle-detection/feature-x/devcontainer-feature.json
  examples/feature-plan/cycle-detection/feature-y/devcontainer-feature.json
  examples/feature-plan/cycle-detection/feature-z/devcontainer-feature.json
  examples/feature-plan/empty/README.md
  examples/feature-plan/empty/devcontainer.json
  examples/feature-plan/simple-chain/README.md
  examples/feature-plan/simple-chain/devcontainer.json
  examples/feature-plan/simple-chain/feature-a/devcontainer-feature.json
  examples/feature-plan/simple-chain/feature-b/devcontainer-feature.json
  examples/feature-plan/simple-chain/feature-c/devcontainer-feature.json
  specs/001-close-spec-gap/checklists/requirements.md
  specs/001-close-spec-gap/contracts/plan.schema.json
  specs/001-close-spec-gap/data-model.md
  specs/001-close-spec-gap/plan.md
  specs/001-close-spec-gap/quickstart.md
  specs/001-close-spec-gap/research.md
  specs/001-close-spec-gap/spec.md
  specs/001-close-spec-gap/tasks.md
Labels: docs

feat: add features package collection support (#387)
  .devcontainer/devcontainer.json
  .github/copilot-instructions.md
  Cargo.lock
  crates/deacon/Cargo.toml
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/features.rs
  crates/deacon/src/commands/features/unit_features_package.rs
  crates/deacon/tests/integration_features_package.rs
  crates/deacon/tests/test_features_cli.rs
  crates/deacon/tests/unit_features_package.rs
  examples/feature-package/collection-basic/README.md
  examples/feature-package/collection-basic/src/feature-a/devcontainer-feature.json
  examples/feature-package/collection-basic/src/feature-b/devcontainer-feature.json
  examples/feature-package/force-clean/README.md
  examples/feature-package/force-clean/devcontainer-feature.json
  examples/feature-package/force-clean/output/OLD_ARTIFACT.tgz
  examples/feature-package/invalid-feature/README.md
  examples/feature-package/invalid-feature/devcontainer-feature.json
  examples/feature-package/non-ascii/README.md
  examples/feature-package/non-ascii/src/ümlaut-feature/devcontainer-feature.json
  examples/feature-package/single-feature/README.md
  examples/feature-package/single-feature/devcontainer-feature.json
  specs/002-features-package-collection/checklists/requirements.md
  specs/002-features-package-collection/contracts/openapi.yaml
  specs/002-features-package-collection/data-model.md
  specs/002-features-package-collection/plan.md
  specs/002-features-package-collection/quickstart.md
  specs/002-features-package-collection/research.md
  specs/002-features-package-collection/spec.md
  specs/002-features-package-collection/tasks.md
Labels: docs, build, deps

feat: Enhance features info command with new tests and JSON output contracts
  crates/core/src/errors.rs
  crates/core/src/oci.rs
  crates/core/tests/oci_timeout.rs
  crates/deacon/src/commands/features.rs
  crates/deacon/tests/cli_flags_features_info.rs
  crates/deacon/tests/integration_features_info_auth.rs
  crates/deacon/tests/integration_features_info_dependencies.rs
  crates/deacon/tests/integration_features_info_local.rs
  crates/deacon/tests/integration_features_info_tags.rs
  crates/deacon/tests/integration_features_info_verbose.rs
  crates/deacon/tests/json_output_purity.rs
  crates/deacon/tests/support/mod.rs
  specs/004-close-features-info-gap/checklists/features-info.md
  specs/004-close-features-info-gap/contracts/features-info.manifest.json
  specs/004-close-features-info-gap/contracts/features-info.tags.json
  specs/004-close-features-info-gap/plan.md
  specs/004-close-features-info-gap/quickstart.md
  specs/004-close-features-info-gap/tasks.md
Labels: none

fix: align test expectation with actual validation error message (#389)
  crates/deacon/tests/integration_features_publish.rs
Labels: none

Add new features and error handling examples
  examples/README.md
  examples/features-info/IMPLEMENTATION_SUMMARY.md
  examples/features-info/QUICK_REFERENCE.md
  examples/features-info/README.md
  examples/features-info/REPORT.md
  examples/features-info/VALIDATION_CHECKLIST.md
  examples/features-info/VISUAL_GUIDE.md
  examples/features-info/dependencies-complex/README.md
  examples/features-info/dependencies-complex/app-feature/devcontainer-feature.json
  examples/features-info/dependencies-complex/app-feature/install.sh
  examples/features-info/dependencies-simple/README.md
  examples/features-info/dependencies-simple/my-feature/devcontainer-feature.json
  examples/features-info/dependencies-simple/my-feature/install.sh
  examples/features-info/error-handling-invalid-ref/README.md
  examples/features-info/error-handling-network-failure/README.md
  examples/features-info/local-feature-only-manifest/README.md
  examples/features-info/local-feature-only-manifest/local-feature/devcontainer-feature.json
  examples/features-info/local-feature-only-manifest/local-feature/install.sh
  examples/features-info/manifest-json-output/README.md
  examples/features-info/manifest-local-feature/README.md
  examples/features-info/manifest-local-feature/sample-feature/devcontainer-feature.json
  examples/features-info/manifest-local-feature/sample-feature/install.sh
  examples/features-info/manifest-public-registry/README.md
  examples/features-info/tags-json-output/README.md
  examples/features-info/tags-public-feature/README.md
  examples/features-info/test-all-examples.sh
  examples/features-info/verbose-json-output/README.md
  examples/features-info/verbose-text-output/README.md
Labels: docs

docs: document validation requirement for parse_feature_metadata and add validation to OCI paths (#390)
  crates/core/src/features.rs
  crates/core/src/oci.rs
  crates/deacon/tests/test_features_cli.rs
Labels: none

feat: implement feature publish parity (#388)
  .github/copilot-instructions.md
  crates/core/src/features.rs
  crates/core/src/oci.rs
  crates/core/src/semver_utils.rs
  crates/core/tests/integration_features.rs
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/features.rs
  crates/deacon/src/commands/features_publish_output.rs
  crates/deacon/src/commands/mod.rs
  crates/deacon/tests/integration_features_publish.rs
  crates/deacon/tests/test_features_cli.rs
  docs/subcommand-specs/features-publish/SPEC.md
  examples/feature-publish/README.md
  examples/feature-publish/auth-local-registry/README.md
  examples/feature-publish/auth-local-registry/devcontainer-feature.json
  examples/feature-publish/idempotent-republish/README.md
  examples/feature-publish/idempotent-republish/devcontainer-feature.json
  examples/feature-publish/invalid-version/README.md
  examples/feature-publish/invalid-version/devcontainer-feature.json
  examples/feature-publish/multi-feature-collection/README.md
  examples/feature-publish/multi-feature-collection/devcontainer-collection.json
  examples/feature-publish/multi-feature-collection/features/alpha/devcontainer-feature.json
  examples/feature-publish/multi-feature-collection/features/beta/devcontainer-feature.json
  examples/feature-publish/single-feature-basic/README.md
  examples/feature-publish/single-feature-basic/devcontainer-feature.json
  examples/registry/dry-run-publish/README.md
  specs/003-features-publish-compliance/checklists/requirements.md
  specs/003-features-publish-compliance/contracts/oci-openapi.yaml
  specs/003-features-publish-compliance/contracts/publish-output.schema.json
  specs/003-features-publish-compliance/data-model.md
  specs/003-features-publish-compliance/plan.md
  specs/003-features-publish-compliance/quickstart.md
  specs/003-features-publish-compliance/research.md
  specs/003-features-publish-compliance/spec.md
  specs/003-features-publish-compliance/tasks.md
Labels: docs

fix: Update features info test assertions for CLI flag and output structure changes (#393)
  crates/deacon/tests/test_features_cli.rs
Labels: none

fix: Address CodeRabbit review feedback on test coverage and error handling (#392)
  crates/core/tests/oci_timeout.rs
  crates/deacon/src/commands/build.rs
  crates/deacon/src/commands/features.rs
  crates/deacon/tests/cli_flags_features_info.rs
  crates/deacon/tests/integration_features_info_auth.rs
Labels: none

feat: Add orchestrator and task verifier agents with detailed execution and verification logic
  .gitignore
  .opencode/agent/orchestrator.md
  .opencode/agent/task-verifier.md
  .opencode/command/orchestrate.md
  AGENTS.md
Labels: none

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "examples/**"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**", "scripts/**"]

build:
  - changed-files:
      - any-glob-to-any-file: ["Cargo.toml", "crates/**/Cargo.toml", "Makefile"]

deps:
  - changed-files:
      - any-glob-to-any-file: ["Cargo.lock"]
