Repository get2knowio/deacon, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, build, deps

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "examples/**"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**", "scripts/**"]

build:
  - changed-files:
      - any-glob-to-any-file: ["Cargo.toml", "crates/**/Cargo.toml", "Makefile"]

deps:
  - changed-files:
      - any-glob-to-any-file: ["Cargo.lock"]

fix(docs): update installation instructions to reflect version 0.1.4
  README.md
Labels: none

ci: enable manual dispatch for release tags and re-add macOS x86_64 to matrix; ensure checkout uses tag ref
  .github/workflows/release.yml
Labels: ci

ci: add linux x86_64 musl to release matrix (incremental)
  .github/workflows/release.yml
Labels: ci

ci: add linux aarch64 musl to release matrix (incremental)
  .github/workflows/release.yml
Labels: ci

ci: add linux aarch64 gnu to release matrix (incremental)
  .github/workflows/release.yml
Labels: ci

ci: add Windows ARM64 (aarch64-pc-windows-msvc) to release matrix (incremental)
  .github/workflows/release.yml
Labels: ci

ci: grant contents:read to semantic PR workflow
  .github/workflows/semantic-pr.yml
Labels: ci

ci: grant issues:read to semantic PR workflow for label checks
  .github/workflows/semantic-pr.yml
Labels: ci

ci: widen permissions for semantic PR (checks/statuses write)
  .github/workflows/semantic-pr.yml
Labels: ci

feat: add release workflow and asset listing targets to Makefile
  Makefile
Labels: build

feat: enhance parity tests and Makefile for improved build and exec functionality
  Makefile
  crates/deacon/src/commands/build.rs
  crates/deacon/tests/parity_build.rs
  crates/deacon/tests/parity_exec.rs
Labels: build

feat: add variable substitution support in up command and enhance integration tests for build args
  crates/deacon/src/commands/up.rs
  crates/deacon/tests/integration_build_args.rs
  crates/deacon/tests/integration_up_initialize_command.rs
  crates/deacon/tests/smoke_compose_edges.rs
Labels: none

fix: correct indentation in compose configuration for clarity
  crates/deacon/tests/integration_up_initialize_command.rs
Labels: none

fix: use interactive login shell for zsh to source .zshrc
  crates/core/src/container_env_probe.rs
Labels: none

fix: suppress probe command output and add validation
  crates/core/src/container_env_probe.rs
Labels: none

feat: add silent mode to Docker exec for probe commands
  crates/core/src/container_env_probe.rs
  crates/core/src/container_lifecycle.rs
  crates/core/src/docker.rs
  crates/core/src/feature_installer.rs
  crates/core/tests/integration_mock_runtime.rs
  crates/deacon/src/commands/exec.rs
  crates/deacon/src/commands/up.rs
Labels: none

feat: enhance Docker exec to capture stdout and stderr in silent mode
  crates/core/src/container_env_probe.rs
  crates/core/src/docker.rs
Labels: none

fix: update .gitignore to include artifacts and repomix XML files
  .gitignore
Labels: none

Add GAP analysis for 'up' and 'upgrade' subcommands
  AGENTS.md
  CODEX_FINDINGS.md
  CONTRIBUTING.md
  README.md
  crates/core/src/lifecycle.rs
  crates/core/src/redaction.rs
  docs/PARITY_APPROACH.md
  docs/PARITY_PROMPT.md
  docs/subcommand-specs/build/GAP.md
  docs/subcommand-specs/exec/GAP.md
  docs/subcommand-specs/features-info/GAP.md
  docs/subcommand-specs/features-package/GAP.md
  docs/subcommand-specs/features-plan/GAP.md
  docs/subcommand-specs/features-publish/GAP.md
  docs/subcommand-specs/features-test/GAP.md
  docs/subcommand-specs/outdated/GAP.md
  docs/subcommand-specs/read-configuration/GAP.md
  docs/subcommand-specs/run-user-commands/GAP.md
  docs/subcommand-specs/set-up/GAP.md
  docs/subcommand-specs/templates/GAP.md
  docs/subcommand-specs/up/GAP.md
  docs/subcommand-specs/upgrade/GAP.md
Labels: docs

Update documentation references from CLI-SPEC.md to subcommand-specs/*/SPEC.md across examples
  examples/README.md
  examples/build-secrets/README.md
  examples/build/basic-dockerfile/README.md
  examples/build/platform-and-cache/README.md
  examples/build/secrets-and-ssh/README.md
  examples/cli/custom-container-name/README.md
  examples/cli/port-forwarding/README.md
  examples/configuration/README.md
  examples/configuration/extends-chain/README.md
  examples/configuration/nested-variables/README.md
  examples/container-lifecycle/README.md
  examples/container-lifecycle/basic/README.md
  examples/container-lifecycle/execution-order/README.md
  examples/container-lifecycle/non-blocking-and-skip/README.md
  examples/container-lifecycle/progress-events/README.md
  examples/observability/json-logs/README.md
  examples/registry/authentication/README.md
  examples/registry/dry-run-publish/README.md
  examples/template-management/metadata-and-docs/README.md
  examples/template-management/templates-apply/README.md
Labels: docs

Update documentation references to specific subcommand SPEC files in examples
  examples/configuration/README.md
  examples/container-lifecycle/README.md
  examples/container-lifecycle/non-blocking-and-skip/README.md
  examples/container-lifecycle/progress-events/README.md
  examples/container-lifecycle/redaction/README.md
  examples/features/cache-reuse-hint/README.md
  examples/features/parallel-install-demo/README.md
  examples/observability/json-logs/README.md
Labels: docs

Update knowledge base file patterns to include subcommand specs and contributing guidelines
  .coderabbit.yaml
Labels: none

Add gh-issue-implementer agent for automated issue handling and PR creation
  .opencode/agent/gh-issue-implementer.md
Labels: none

docs: merge PR #361 [features-plan]
  crates/deacon/src/commands/features.rs
  crates/deacon/tests/test_features_cli.rs
  docs/subcommand-specs/features-plan/GAP.md
Labels: docs

Update subcommand-design prompt metadata to include description, version, and argument details
  .codex/prompts/subcommand-design.md
  .github/prompts/subcommand-design.md
Labels: none

feat: Add Rust coding conventions and best practices documentation
  .github/chatmodes/address-pr-comments.chatmode.md
  .github/chatmodes/maintainer-review.chatmode.md
  .github/chatmodes/rust-beast-mode.chatmode.md
  .github/chatmodes/rust-incremental-implementer.chatmode.md
  .github/instructions/github-actions-ci-cd-best-practices.instructions.md
  .github/instructions/rust.instructions.md
  .github/prompts/pr-apply-review.md
  .github/prompts/pr-implement.md
  .github/prompts/pr-senior-review.md
  scripts/work_issue.sh
Labels: ci

feat: Create initial empty commit when branching for an issue
  scripts/work_issue.sh
Labels: ci

feat: Push branch to remote before checking for existing PR
  scripts/work_issue.sh
Labels: ci

feat: Redirect log output to stderr in create_branch function
  scripts/work_issue.sh
Labels: ci

feat: Enhance run_copilot function with file-based prompts for better clarity
  scripts/work_issue.sh
Labels: ci

feat: Force push branch to remote to handle existing remote branches
  scripts/work_issue.sh
Labels: ci

feat: Update run_copilot function to allow all paths and tools for improved flexibility
  scripts/work_issue.sh
Labels: ci

test: add comprehensive output structure validation for read-configuration
  crates/deacon/src/commands/read_configuration.rs
  crates/deacon/tests/integration_read_configuration_output.rs
Labels: none

fix: read-configuration JSON payload structure and workspace section compliance (#375)
  crates/deacon/src/commands/read_configuration.rs
  crates/deacon/tests/integration_read_configuration_output.rs
Labels: none

feat: Redirect log output to stderr in create_pr function for improved clarity
  scripts/work_issue.sh
Labels: ci

feat: Enhance run_copilot function to include PR number and model for improved context in prompts
  .github/prompts/pr-apply-review.md
  .github/prompts/pr-implement.md
  .github/prompts/pr-senior-review.md
  scripts/work_issue.sh
Labels: ci

feat: Revise PR Senior Review prompt to enhance review process clarity and rigor
  .github/prompts/pr-senior-review.md
Labels: none

feat: Add terminal dimensions and user data folder options to read-configuration command
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/read_configuration.rs
Labels: none

fix: Add comprehensive tests and documentation for new CLI flags
  .github/prompts/pr-senior-review.md
  crates/deacon/src/commands/read_configuration.rs
  scripts/work_issue.sh
Labels: ci

fix: [read-configuration] CLI Flags: Docker tooling paths and mount/workspace options (#376)
  .github/prompts/pr-senior-review.md
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/read_configuration.rs
  scripts/work_issue.sh
Labels: ci
