Repository get2knowio/deacon, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, build, deps

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "examples/**"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**", "scripts/**"]

build:
  - changed-files:
      - any-glob-to-any-file: ["Cargo.toml", "crates/**/Cargo.toml", "Makefile"]

deps:
  - changed-files:
      - any-glob-to-any-file: ["Cargo.lock"]

spec(exec): add US1 integration tests and implement missing-config error message; mark tasks T008-T014,T035,T036 completed
  crates/deacon/tests/integration_exec.rs
  crates/deacon/tests/integration_exec_selection.rs
  specs/007-exec-subcommand/tasks.md
Labels: none

fix: correct contradictory comment in integration_exec_env test
  crates/deacon/tests/integration_exec_env.rs
Labels: none

refactor: scope #[allow(dead_code)] to specific fields in ExecArgs
  crates/deacon/src/commands/exec.rs
Labels: none

docs: clarify PTY terminal sizing mechanism in exec SPEC
  docs/subcommand-specs/exec/SPEC.md
Labels: docs

feat: return SubstitutionReport from resolve_effective_config
  crates/core/src/compose.rs
  crates/core/src/config.rs
  crates/core/src/container_env_probe.rs
  crates/core/tests/resolve_effective_config.rs
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/exec.rs
  crates/deacon/tests/integration_exec_selection.rs
  crates/deacon/tests/parse_docker_tooling_flags.rs
  examples/exec/README.md
  specs/007-exec-subcommand/coderabbit.md
  specs/007-exec-subcommand/review.md
  specs/007-exec-subcommand/tasks.md
Labels: docs

Refactor workflow-core to modular step system
  .maverick/CONTRIBUTING.md
  .maverick/MIGRATION.md
  .maverick/README.md
  .maverick/src/steps/coderabbit.mjs
  .maverick/src/steps/core.mjs
  .maverick/src/steps/opencode.mjs
  .maverick/src/steps/shell.mjs
  .maverick/src/steps/speckit.mjs
  .maverick/src/tasks/markdown.mjs
  .maverick/src/workflow-core.mjs
  .maverick/src/workflow.mjs
  .maverick/src/workflows/speckit.mjs
Labels: none

Implement env/user precedence and add PTY/empty env tests
  .dockerignore
  crates/deacon/src/commands/exec.rs
  crates/deacon/tests/integration_exec_env.rs
  crates/deacon/tests/integration_exec_pty.rs
  specs/007-exec-subcommand/tasks.md
Labels: none

Add comprehensive exec subcommand examples
  examples/exec/README.md
  examples/exec/container-id-targeting/README.md
  examples/exec/container-id-targeting/devcontainer.json
  examples/exec/container-id-targeting/test-script.sh
  examples/exec/exit-code-handling/README.md
  examples/exec/exit-code-handling/devcontainer.json
  examples/exec/exit-code-handling/exit-codes.sh
  examples/exec/exit-code-handling/signal-test.sh
  examples/exec/exit-code-handling/timeout-test.sh
  examples/exec/id-label-targeting/README.md
  examples/exec/id-label-targeting/app.py
  examples/exec/id-label-targeting/devcontainer.json
  examples/exec/interactive-pty/README.md
  examples/exec/interactive-pty/devcontainer.json
  examples/exec/interactive-pty/interactive-demo.py
  examples/exec/interactive-pty/terminal-test.sh
  examples/exec/non-interactive-streaming/README.md
  examples/exec/non-interactive-streaming/binary-test.sh
  examples/exec/non-interactive-streaming/data/sample.bin
  examples/exec/non-interactive-streaming/devcontainer.json
  examples/exec/non-interactive-streaming/generate-output.sh
  examples/exec/remote-env-variables/README.md
  examples/exec/remote-env-variables/check-env.sh
  examples/exec/remote-env-variables/devcontainer.json
  examples/exec/remote-user-execution/README.md
  examples/exec/remote-user-execution/devcontainer.json
  examples/exec/remote-user-execution/shared-workspace/README.md
  examples/exec/remote-user-execution/user-check.sh
  examples/exec/semantics/README.md
  examples/exec/semantics/devcontainer.json
  examples/exec/user-env-probe-modes/.bashrc
  examples/exec/user-env-probe-modes/README.md
  examples/exec/user-env-probe-modes/devcontainer.json
  examples/exec/user-env-probe-modes/probe-test.sh
  examples/exec/workspace-folder-discovery/.devcontainer/devcontainer.json
  examples/exec/workspace-folder-discovery/README.md
  examples/exec/workspace-folder-discovery/package.json
  examples/exec/workspace-folder-discovery/src/main.js
Labels: docs

Update CLI test for config file error message
  .gitignore
  crates/deacon/tests/integration_cli.rs
Labels: none

Move exec subcommand specs to completed folder
  specs-completed/007-exec-subcommand/checklists/requirements.md
  specs-completed/007-exec-subcommand/coderabbit.md
  specs-completed/007-exec-subcommand/contracts/exec.openapi.yaml
  specs-completed/007-exec-subcommand/data-model.md
  specs-completed/007-exec-subcommand/plan.md
  specs-completed/007-exec-subcommand/quickstart.md
  specs-completed/007-exec-subcommand/research.md
  specs-completed/007-exec-subcommand/review.md
  specs-completed/007-exec-subcommand/spec.md
  specs-completed/007-exec-subcommand/tasks.md
Labels: none

Move exec subcommand specs to completed-specs folder
  docs/subcommand-specs/completed-specs/exec/DATA-STRUCTURES.md
  docs/subcommand-specs/completed-specs/exec/DIAGRAMS.md
  docs/subcommand-specs/completed-specs/exec/GAP.md
  docs/subcommand-specs/completed-specs/exec/SPEC.md
  docs/subcommand-specs/completed-specs/exec/tasks/01-cli-flags-container-selection-and-config.md
  docs/subcommand-specs/completed-specs/exec/tasks/02-cli-flags-execution-env-and-probe.md
  docs/subcommand-specs/completed-specs/exec/tasks/03-cli-flags-docker-tooling-and-data-folders.md
  docs/subcommand-specs/completed-specs/exec/tasks/04-cli-flags-logging-and-terminal.md
  docs/subcommand-specs/completed-specs/exec/tasks/05-core-container-selection-and-config-discovery.md
  docs/subcommand-specs/completed-specs/exec/tasks/06-core-image-metadata-merge-and-variable-substitution.md
  docs/subcommand-specs/completed-specs/exec/tasks/07-core-userenvprobe-and-env-merge-order.md
  docs/subcommand-specs/completed-specs/exec/tasks/08-core-exec-pty-selection-and-terminal.md
  docs/subcommand-specs/completed-specs/exec/tasks/09-error-handling-and-exit-code-mapping.md
  docs/subcommand-specs/completed-specs/exec/tasks/10-testing-examples-and-smoke.md
Labels: docs

feat(outdated): add command skeleton and export; mark T001/T002 done in tasks.md
  crates/deacon/src/commands/mod.rs
  crates/deacon/src/commands/outdated.rs
  specs/009-outdated-subcommand/tasks.md
Labels: none

docs: add rustdoc comment for outdated module
  crates/core/src/lib.rs
  crates/deacon/src/cli.rs
Labels: none

test: add coverage for latest_major with Some case
  crates/core/tests/outdated_helpers_additional.rs
Labels: none

fix: replace unwrap with pattern match in parse_feature_ref
  crates/core/src/outdated.rs
Labels: none

docs: add comprehensive rustdoc to outdated command
  crates/deacon/src/commands/outdated.rs
Labels: none

fix: remove redundant std::env::current_dir call in CLI dispatch
  crates/deacon/src/cli.rs
Labels: none

feat(outdated): respect explicit config paths from CLI flags
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/mod.rs
  crates/deacon/src/commands/outdated.rs
  crates/deacon/tests/outdated_explicit_config.rs
  crates/deacon/tests/outdated_text_render.rs
Labels: none

Add outdated subcommand specification and planning docs
  specs/009-outdated-subcommand/checklists/requirements.md
  specs/009-outdated-subcommand/coderabbit.md
  specs/009-outdated-subcommand/contracts/outdated.openapi.yaml
  specs/009-outdated-subcommand/data-model.md
  specs/009-outdated-subcommand/fixes.md
  specs/009-outdated-subcommand/plan.md
  specs/009-outdated-subcommand/quickstart.md
  specs/009-outdated-subcommand/research.md
  specs/009-outdated-subcommand/review.md
  specs/009-outdated-subcommand/spec.md
Labels: none

Add comprehensive tests and improve outdated helpers
  Cargo.lock
  crates/core/Cargo.toml
  crates/core/src/outdated.rs
  crates/core/tests/outdated_helpers.rs
  crates/deacon/Cargo.toml
  crates/deacon/src/commands/outdated.rs
  crates/deacon/src/main.rs
  crates/deacon/tests/integration_outdated_fail_flag.rs
  crates/deacon/tests/integration_outdated_json.rs
  crates/deacon/tests/integration_outdated_resilience.rs
  crates/deacon/tests/integration_outdated_text.rs
  crates/deacon/tests/perf_outdated.rs
Labels: build, deps

Add Speckit prompt files for core workflows
  .codex/prompts/speckit.analyze.md
  .codex/prompts/speckit.checklist.md
  .codex/prompts/speckit.clarify.md
  .codex/prompts/speckit.constitution.md
  .codex/prompts/speckit.implement.md
  .codex/prompts/speckit.plan.md
  .codex/prompts/speckit.specify.md
  .codex/prompts/speckit.tasks.md
  .codex/prompts/speckit.taskstoissues.md
Labels: none

Improve bash scripts and add SHAI agent support
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
Labels: none

Add codex step type and refactor review workflow
  .maverick/src/steps/codex.mjs
  .maverick/src/steps/speckit.mjs
  .maverick/src/workflows/speckit.mjs
Labels: none

Move codex prompts to home config dir
  .codex/prompts/speckit.analyze.md
  .codex/prompts/speckit.checklist.md
  .codex/prompts/speckit.clarify.md
  .codex/prompts/speckit.constitution.md
  .codex/prompts/speckit.implement.md
  .codex/prompts/speckit.plan.md
  .codex/prompts/speckit.specify.md
  .codex/prompts/speckit.tasks.md
  .codex/prompts/speckit.taskstoissues.md
Labels: none

Add devcontainer up gap closure specification and docs
  AGENTS.md
  specs/001-up-gap-spec/checklists/requirements.md
  specs/001-up-gap-spec/contracts/up.md
  specs/001-up-gap-spec/data-model.md
  specs/001-up-gap-spec/plan.md
  specs/001-up-gap-spec/quickstart.md
  specs/001-up-gap-spec/research.md
  specs/001-up-gap-spec/spec.md
  specs/001-up-gap-spec/tasks.md
Labels: none

Phase 1: Setup (Shared Infrastructure)
  fixtures/devcontainer-up/compose-with-profiles/README.md
  fixtures/devcontainer-up/compose-with-profiles/devcontainer.json
  fixtures/devcontainer-up/compose-with-profiles/docker-compose.yml
  fixtures/devcontainer-up/feature-and-dotfiles/README.md
  fixtures/devcontainer-up/feature-and-dotfiles/devcontainer.json
  fixtures/devcontainer-up/single-container/README.md
  fixtures/devcontainer-up/single-container/devcontainer.json
  specs/001-up-gap-spec/quickstart.md
  specs/001-up-gap-spec/tasks.md
Labels: none

Phase 2: Foundational (Blocking Prerequisites)
  Cargo.lock
  crates/deacon/Cargo.toml
  crates/deacon/src/commands/mod.rs
  crates/deacon/src/commands/up.rs
  specs/001-up-gap-spec/tasks.md
Labels: build, deps

Phase 3: User Story 1 - Reliable up invocation with full flag coverage (Priority: P1) 🎯 MVP
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/mod.rs
  crates/deacon/src/commands/up.rs
  crates/deacon/tests/integration_host_requirements.rs
  crates/deacon/tests/up_config_resolution.rs
  crates/deacon/tests/up_json_output.rs
  crates/deacon/tests/up_validation.rs
  specs/001-up-gap-spec/tasks.md
Labels: none

Phase 3: User Story 1 - Reliable up invocation with full flag coverage (Priority: P1) 🎯 MVP (attempt 2/3)
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/up.rs
  specs/001-up-gap-spec/tasks.md
Labels: none

Phase 3: User Story 1 - Reliable up invocation with full flag coverage (Priority: P1) 🎯 MVP (attempt 3/3)
  crates/deacon/src/commands/read_configuration.rs
  crates/deacon/src/commands/up.rs
  specs/001-up-gap-spec/tasks.md
Labels: none

Phase 4: User Story 2 - CI prebuild and lifecycle orchestration (Priority: P2)
  crates/deacon/src/commands/up.rs
  crates/deacon/tests/up_dotfiles.rs
  crates/deacon/tests/up_prebuild.rs
  specs/001-up-gap-spec/tasks.md
Labels: none

Phase 5: User Story 3 - Compose and reconnect workflows (Priority: P3)
  crates/core/src/compose.rs
  crates/deacon/src/commands/down.rs
  crates/deacon/tests/integration_compose_enhancements.rs
  crates/deacon/tests/up_compose_profiles.rs
  crates/deacon/tests/up_reconnect.rs
  specs/001-up-gap-spec/tasks.md
Labels: none

Phase 6: Polish & Cross-Cutting Concerns
  .deacon/cache/audit.jsonl
  crates/core/src/compose.rs
  crates/deacon/src/commands/down.rs
  crates/deacon/tests/up_compose_profiles.rs
  crates/deacon/tests/up_reconnect.rs
  docs/subcommand-specs/up/GAP.md
  examples/README.md
  fixtures/devcontainer-up/compose-with-profiles/devcontainer.json
  fixtures/devcontainer-up/compose-with-profiles/docker-compose.yml
  fixtures/devcontainer-up/feature-and-dotfiles/devcontainer.json
  fixtures/devcontainer-up/single-container/devcontainer.json
  specs/001-up-gap-spec/quickstart.md
  specs/001-up-gap-spec/tasks.md
Labels: docs

Review: organized fixes.md with parallelization markers
  specs/009-outdated-subcommand/fixes.md
Labels: none

Review: updated constitution and AGENTS.md based on findings
  .specify/memory/constitution.md
  AGENTS.md
Labels: none

Review: implemented fixes from fixes.md
  crates/core/src/outdated.rs
  crates/deacon/src/commands/mod.rs
  crates/deacon/src/commands/outdated.rs
  crates/deacon/tests/integration_host_requirements.rs
  crates/deacon/tests/integration_outdated_extends.rs
  crates/deacon/tests/integration_outdated_json.rs
  crates/deacon/tests/integration_outdated_local_features.rs
  crates/deacon/tests/up_json_output.rs
  fixtures/devcontainer-up/compose-with-profiles/docker-compose.yml
  specs/009-outdated-subcommand/fixes.md
Labels: none

Tests: fixed test failures
  artifacts/nextest/full-timing.json
  crates/deacon/tests/integration_build.rs
  crates/deacon/tests/integration_cli.rs
  crates/deacon/tests/integration_override_secrets_cli.rs
  crates/deacon/tests/integration_runtime_selection.rs
  crates/deacon/tests/smoke_basic.rs
  crates/deacon/tests/smoke_compose_edges.rs
  crates/deacon/tests/test_read_configuration_validation.rs
Labels: none

Improve test profiles and container startup reliability
  .config/nextest.toml
  Makefile
  crates/deacon/src/commands/up.rs
  crates/deacon/tests/smoke_compose_edges.rs
Labels: build

Move outdated subcommand specs to completed folder
  specs-completed/009-outdated-subcommand/checklists/requirements.md
  specs-completed/009-outdated-subcommand/coderabbit.md
  specs-completed/009-outdated-subcommand/contracts/outdated.openapi.yaml
  specs-completed/009-outdated-subcommand/data-model.md
  specs-completed/009-outdated-subcommand/fixes.md
  specs-completed/009-outdated-subcommand/plan.md
  specs-completed/009-outdated-subcommand/quickstart.md
  specs-completed/009-outdated-subcommand/research.md
  specs-completed/009-outdated-subcommand/review.md
  specs-completed/009-outdated-subcommand/spec.md
  specs-completed/009-outdated-subcommand/tasks.md
Labels: none

feat(build): implement validation, gating, and output enhancements
  docs/subcommand-specs/completed-specs/build/DATA-STRUCTURES.md
  docs/subcommand-specs/completed-specs/build/DIAGRAMS.md
  docs/subcommand-specs/completed-specs/build/GAP.md
  docs/subcommand-specs/completed-specs/build/README.md
  docs/subcommand-specs/completed-specs/build/SPEC.md
  docs/subcommand-specs/completed-specs/build/tasks/01-cli-flags-and-parsing.md
  docs/subcommand-specs/completed-specs/build/tasks/02-validation-and-gating.md
  docs/subcommand-specs/completed-specs/build/tasks/03-json-output-contract.md
  docs/subcommand-specs/completed-specs/build/tasks/04-image-tagging-and-defaults.md
  docs/subcommand-specs/completed-specs/build/tasks/05-buildkit-output-and-cache.md
  docs/subcommand-specs/completed-specs/build/tasks/06-image-reference-mode.md
  docs/subcommand-specs/completed-specs/build/tasks/07-compose-mode-build.md
  docs/subcommand-specs/completed-specs/build/tasks/08-metadata-label-injection.md
  docs/subcommand-specs/completed-specs/build/tasks/09-features-installation-during-build.md
  docs/subcommand-specs/completed-specs/build/tasks/10-tests-and-examples.md
  docs/subcommand-specs/completed-specs/build/tasks/11-hidden-experimental-flags.md
  docs/subcommand-specs/completed-specs/build/tasks/12-error-shapes-and-exit-codes.md
  docs/subcommand-specs/completed-specs/build/tasks/13-state-management-and-lockfiles.md
  docs/subcommand-specs/completed-specs/build/tasks/14-docker-runtime-push-and-detection.md
Labels: docs
