Repository get2knowio/deacon, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, build, deps

feat: Add CI status check and context to PR Senior Review process
  .github/prompts/pr-implement.md
  .github/prompts/pr-senior-review.md
  scripts/work_issue.sh
Labels: ci

Add tracking and implementation tasks for features package parity
  docs/subcommand-specs/features-package/tasks/310-features-package-implement-full-parity-for-features-package.md
  docs/subcommand-specs/features-package/tasks/311-features-package-cli-add-force-clean-and-default-target.md
  docs/subcommand-specs/features-package/tasks/312-features-package-core-mode-detection.md
  docs/subcommand-specs/features-package/tasks/313-features-package-core-implement-collection-packaging.md
  docs/subcommand-specs/features-package/tasks/314-features-package-core-generate-devcontainer-collection-json.md
  docs/subcommand-specs/features-package/tasks/315-features-package-output-improve-text-logs.md
  docs/subcommand-specs/features-package/tasks/316-features-package-testing-add-tests.md
  docs/subcommand-specs/features-package/tasks/317-features-package-docs-update-examples.md
  docs/subcommand-specs/features-package/tasks/318-features-package-polish-json-output-and-errors.md
  docs/subcommand-specs/features-package/tasks/319-features-package-refactor-extract-helpers.md
  docs/subcommand-specs/features-package/tasks/320-features-package-validation-robust-errors.md
Labels: docs

Add tasks for parallel OCI fetch and docs updates
  docs/subcommand-specs/features-plan/tasks/307-parallelize-oci-metadata-fetch.md
  docs/subcommand-specs/features-plan/tasks/308-docs-updates-rustdoc-design-auth-examples.md
Labels: docs

Add feature publish subcommand implementation specs
  docs/subcommand-specs/features-publish/tasks/issue-322.md
  docs/subcommand-specs/features-publish/tasks/issue-323.md
  docs/subcommand-specs/features-publish/tasks/issue-324.md
  docs/subcommand-specs/features-publish/tasks/issue-325.md
  docs/subcommand-specs/features-publish/tasks/issue-326.md
  docs/subcommand-specs/features-publish/tasks/issue-327.md
  docs/subcommand-specs/features-publish/tasks/issue-328.md
  docs/subcommand-specs/features-publish/tasks/issue-329.md
  docs/subcommand-specs/features-publish/tasks/issue-330.md
  docs/subcommand-specs/features-publish/tasks/issue-331.md
  docs/subcommand-specs/features-publish/tasks/issue-332.md
Labels: docs

Add task specs for read-configuration subcommand
  docs/subcommand-specs/read-configuration/tasks/286-implement-full-parity-for-read-configuration.md
  docs/subcommand-specs/read-configuration/tasks/294-validation-and-error-messages.md
  docs/subcommand-specs/read-configuration/tasks/296-tests-and-examples.md
  docs/subcommand-specs/read-configuration/tasks/297-governance-breaking-change-handling.md
Labels: docs

refactor: Update prompt for generating Markdown tasks for DevContainer CLI parity implementation
  docs/PARITY_PROMPT.md
Labels: docs

Add task specs for features info and test subcommands
  docs/subcommand-specs/features-info/tasks/issue-334.md
  docs/subcommand-specs/features-info/tasks/issue-335.md
  docs/subcommand-specs/features-info/tasks/issue-336.md
  docs/subcommand-specs/features-info/tasks/issue-337.md
  docs/subcommand-specs/features-info/tasks/issue-338.md
  docs/subcommand-specs/features-info/tasks/issue-339.md
  docs/subcommand-specs/features-info/tasks/issue-340.md
  docs/subcommand-specs/features-info/tasks/issue-341.md
  docs/subcommand-specs/features-info/tasks/issue-342.md
  docs/subcommand-specs/features-info/tasks/issue-343.md
  docs/subcommand-specs/features-test/tasks/issue-346.md
  docs/subcommand-specs/features-test/tasks/issue-347.md
  docs/subcommand-specs/features-test/tasks/issue-348.md
  docs/subcommand-specs/features-test/tasks/issue-349.md
  docs/subcommand-specs/features-test/tasks/issue-350.md
  docs/subcommand-specs/features-test/tasks/issue-351.md
  docs/subcommand-specs/features-test/tasks/issue-352.md
  docs/subcommand-specs/features-test/tasks/issue-353.md
  docs/subcommand-specs/features-test/tasks/issue-354.md
  docs/subcommand-specs/features-test/tasks/issue-355.md
Labels: docs

Remove unused Parent Issue section from template
  docs/PARITY_PROMPT.md
Labels: docs

Add build subcommand task specifications
  docs/subcommand-specs/build/tasks/01-cli-flags-and-parsing.md
  docs/subcommand-specs/build/tasks/02-validation-and-gating.md
  docs/subcommand-specs/build/tasks/03-json-output-contract.md
  docs/subcommand-specs/build/tasks/04-image-tagging-and-defaults.md
  docs/subcommand-specs/build/tasks/05-buildkit-output-and-cache.md
  docs/subcommand-specs/build/tasks/06-image-reference-mode.md
  docs/subcommand-specs/build/tasks/07-compose-mode-build.md
  docs/subcommand-specs/build/tasks/08-metadata-label-injection.md
  docs/subcommand-specs/build/tasks/09-features-installation-during-build.md
  docs/subcommand-specs/build/tasks/10-tests-and-examples.md
  docs/subcommand-specs/build/tasks/11-hidden-experimental-flags.md
  docs/subcommand-specs/build/tasks/12-error-shapes-and-exit-codes.md
  docs/subcommand-specs/build/tasks/13-state-management-and-lockfiles.md
  docs/subcommand-specs/build/tasks/14-docker-runtime-push-and-detection.md
  docs/subcommand-specs/set-up/tasks/02-core-data-structures.md
Labels: docs

Add exec subcommand implementation task specs
  docs/subcommand-specs/exec/tasks/01-cli-flags-container-selection-and-config.md
  docs/subcommand-specs/exec/tasks/02-cli-flags-execution-env-and-probe.md
  docs/subcommand-specs/exec/tasks/03-cli-flags-docker-tooling-and-data-folders.md
  docs/subcommand-specs/exec/tasks/04-cli-flags-logging-and-terminal.md
  docs/subcommand-specs/exec/tasks/05-core-container-selection-and-config-discovery.md
  docs/subcommand-specs/exec/tasks/06-core-image-metadata-merge-and-variable-substitution.md
  docs/subcommand-specs/exec/tasks/07-core-userenvprobe-and-env-merge-order.md
  docs/subcommand-specs/exec/tasks/08-core-exec-pty-selection-and-terminal.md
  docs/subcommand-specs/exec/tasks/09-error-handling-and-exit-code-mapping.md
  docs/subcommand-specs/exec/tasks/10-testing-examples-and-smoke.md
Labels: docs

Move features-package task specs to features-plan
  docs/subcommand-specs/features-plan/tasks/310-features-package-implement-full-parity-for-features-package.md
  docs/subcommand-specs/features-plan/tasks/311-features-package-cli-add-force-clean-and-default-target.md
  docs/subcommand-specs/features-plan/tasks/312-features-package-core-mode-detection.md
  docs/subcommand-specs/features-plan/tasks/313-features-package-core-implement-collection-packaging.md
  docs/subcommand-specs/features-plan/tasks/314-features-package-core-generate-devcontainer-collection-json.md
  docs/subcommand-specs/features-plan/tasks/315-features-package-output-improve-text-logs.md
  docs/subcommand-specs/features-plan/tasks/316-features-package-testing-add-tests.md
  docs/subcommand-specs/features-plan/tasks/317-features-package-docs-update-examples.md
  docs/subcommand-specs/features-plan/tasks/318-features-package-polish-json-output-and-errors.md
  docs/subcommand-specs/features-plan/tasks/319-features-package-refactor-extract-helpers.md
  docs/subcommand-specs/features-plan/tasks/320-features-package-validation-robust-errors.md
Labels: docs

Add set-up subcommand implementation task specs
  docs/subcommand-specs/set-up/tasks/01-cli-flags-and-validation.md
  docs/subcommand-specs/set-up/tasks/03-container-properties-and-exec.md
  docs/subcommand-specs/set-up/tasks/04-system-patching-and-markers.md
  docs/subcommand-specs/set-up/tasks/05-image-metadata-and-merge.md
  docs/subcommand-specs/set-up/tasks/06-container-variable-substitution.md
  docs/subcommand-specs/set-up/tasks/07-lifecycle-execution-and-markers.md
  docs/subcommand-specs/set-up/tasks/08-dotfiles-installation.md
Labels: docs

Add set-up orchestration and error handling specs
  docs/subcommand-specs/set-up/tasks/09-execute-set-up-orchestration.md
  docs/subcommand-specs/set-up/tasks/10-error-handling-and-json-output.md
Labels: docs

Add task doc for set-up tests, examples, and docs
  docs/subcommand-specs/set-up/tasks/11-tests-examples-and-docs.md
Labels: docs

Add templates subcommand spec implementation tasks
  docs/subcommand-specs/templates/tasks/01-apply-cli-flags-and-validation.md
  docs/subcommand-specs/templates/tasks/02-apply-option-substitution-and-feature-injection.md
  docs/subcommand-specs/templates/tasks/03-apply-omit-paths-and-reserved-files.md
  docs/subcommand-specs/templates/tasks/04-publish-cli-collection-and-output.md
  docs/subcommand-specs/templates/tasks/05-publish-semver-tags-and-oci-annotations.md
  docs/subcommand-specs/templates/tasks/06-metadata-from-oci-annotations.md
  docs/subcommand-specs/templates/tasks/07-generate-docs-cli-alignment.md
  docs/subcommand-specs/templates/tasks/08-json-output-and-logging-contract.md
  docs/subcommand-specs/templates/tasks/09-oci-ref-validation-and-errors.md
  docs/subcommand-specs/templates/tasks/10-tests-examples-and-smoke.md
  docs/subcommand-specs/templates/tasks/11-apply-oci-fetch-and-extraction.md
  docs/subcommand-specs/templates/tasks/12-cleanup-deprecations-and-log-level-alignment.md
Labels: docs

Add detailed task specs for 'up' subcommand implementation
  docs/subcommand-specs/up/tasks/01-json-output-contract.md
  docs/subcommand-specs/up/tasks/02-cli-flags-workspace-identification.md
  docs/subcommand-specs/up/tasks/03-cli-flags-runtime-behavior.md
  docs/subcommand-specs/up/tasks/04-cli-flags-mounts-env-cache-buildkit.md
  docs/subcommand-specs/up/tasks/05-input-processing-normalization.md
  docs/subcommand-specs/up/tasks/06-configuration-resolution-enhancements.md
  docs/subcommand-specs/up/tasks/07-core-execution-uid-and-security.md
  docs/subcommand-specs/up/tasks/08-lifecycle-updatecontent-and-prebuild.md
  docs/subcommand-specs/up/tasks/09-dotfiles-installation-workflow.md
  docs/subcommand-specs/up/tasks/10-features-image-extension.md
  docs/subcommand-specs/up/tasks/11-external-systems-docker-buildx-compose.md
  docs/subcommand-specs/up/tasks/12-state-management-and-folders.md
  docs/subcommand-specs/up/tasks/13-error-handling-and-messages.md
  docs/subcommand-specs/up/tasks/14-testing-suite-and-examples.md
  docs/subcommand-specs/up/tasks/15-cli-docker-compose-paths-and-data-folders.md
  docs/subcommand-specs/up/tasks/16-output-shaping-include-config.md
  docs/subcommand-specs/up/tasks/17-remote-env-and-secrets-integration.md
  docs/subcommand-specs/up/tasks/18-secrets-file-and-lifecycle-env.md
  docs/subcommand-specs/up/tasks/19-metadata-flags-omit-behaviors.md
  docs/subcommand-specs/up/tasks/20-compose-mount-conversion-and-profiles.md
Labels: docs

Add upgrade subcommand implementation task specs
  docs/subcommand-specs/upgrade/tasks/01-upgrade-cli-flags-and-registration.md
  docs/subcommand-specs/upgrade/tasks/02-upgrade-command-handler-skeleton.md
  docs/subcommand-specs/upgrade/tasks/03-upgrade-config-resolution-and-discovery.md
  docs/subcommand-specs/upgrade/tasks/04-upgrade-generate-lockfile-wiring.md
  docs/subcommand-specs/upgrade/tasks/05-upgrade-lockfile-path-and-persistence.md
  docs/subcommand-specs/upgrade/tasks/06-upgrade-dry-run-stdout-json.md
  docs/subcommand-specs/upgrade/tasks/07-upgrade-feature-pinning-hidden-flags.md
  docs/subcommand-specs/upgrade/tasks/08-upgrade-error-messages-and-exit-codes.md
  docs/subcommand-specs/upgrade/tasks/09-upgrade-tests-unit-integration-smoke.md
  docs/subcommand-specs/upgrade/tasks/10-upgrade-examples-and-docs.md
  docs/subcommand-specs/upgrade/tasks/11-upgrade-oci-and-feature-resolution-integration.md
  docs/subcommand-specs/upgrade/tasks/12-upgrade-edge-cases-and-cross-platform.md
  docs/subcommand-specs/upgrade/tasks/13-upgrade-progress-logging-and-messages.md
  docs/subcommand-specs/upgrade/tasks/14-upgrade-state-and-idempotency.md
Labels: docs

Add run-user-commands task specifications
  docs/subcommand-specs/run-user-commands/tasks/01-cli-flags-and-validation.md
  docs/subcommand-specs/run-user-commands/tasks/02-container-selection.md
  docs/subcommand-specs/run-user-commands/tasks/03-image-metadata-and-merged-config.md
  docs/subcommand-specs/run-user-commands/tasks/04-two-phase-variable-substitution.md
  docs/subcommand-specs/run-user-commands/tasks/05-container-properties-and-exec.md
  docs/subcommand-specs/run-user-commands/tasks/06-remote-env-probe-and-cache.md
  docs/subcommand-specs/run-user-commands/tasks/07-marker-idempotency-and-prebuild.md
  docs/subcommand-specs/run-user-commands/tasks/08-dotfiles-installation-and-stop-for-personalization.md
  docs/subcommand-specs/run-user-commands/tasks/09-secrets-injection-and-redaction.md
  docs/subcommand-specs/run-user-commands/tasks/10-lifecycle-execution-waitfor-and-parallel.md
  docs/subcommand-specs/run-user-commands/tasks/11-json-output-and-error-mapping.md
  docs/subcommand-specs/run-user-commands/tasks/12-execute-run-user-commands-orchestration.md
  docs/subcommand-specs/run-user-commands/tasks/13-tests-examples-and-docs.md
Labels: docs

Add task specs for 'outdated' subcommand implementation
  docs/subcommand-specs/outdated/tasks/00-outdated-task-roadmap.md
  docs/subcommand-specs/outdated/tasks/01-outdated-implement-cli-subcommand-and-flags.md
  docs/subcommand-specs/outdated/tasks/02-infrastructure-lockfile-data-structures-and-io.md
  docs/subcommand-specs/outdated/tasks/03-infrastructure-oci-tag-listing-and-semver-filtering.md
  docs/subcommand-specs/outdated/tasks/04-core-version-resolution-and-digest-metadata.md
  docs/subcommand-specs/outdated/tasks/05-core-command-skeleton-and-pipeline.md
  docs/subcommand-specs/outdated/tasks/06-output-rendering-text-and-json-terminal-hints.md
  docs/subcommand-specs/outdated/tasks/07-error-handling-and-graceful-degradation.md
  docs/subcommand-specs/outdated/tasks/08-parallel-execution-and-deterministic-ordering.md
  docs/subcommand-specs/outdated/tasks/09-testing-integration-smoke-and-examples.md
  docs/subcommand-specs/outdated/tasks/10-documentation-and-help-text.md
  docs/subcommand-specs/outdated/tasks/11-config-discovery-and-feature-extraction.md
  docs/subcommand-specs/outdated/tasks/12-json-schema-alignment-and-serialization.md
  docs/subcommand-specs/outdated/tasks/13-feature-identifier-parsing-and-filtering.md
  docs/subcommand-specs/outdated/tasks/14-oci-authentication-wiring-for-tags-and-manifests.md
Labels: docs

Add features-package CLI spec tasks documentation
  docs/subcommand-specs/features-package/tasks/01-features-package-cli-flags-and-target-default.md
  docs/subcommand-specs/features-package/tasks/02-features-package-mode-detection-and-collection-packaging.md
  docs/subcommand-specs/features-package/tasks/03-features-package-generate-collection-metadata.md
  docs/subcommand-specs/features-package/tasks/04-features-package-output-folder-and-force-clean.md
  docs/subcommand-specs/features-package/tasks/05-features-package-artifact-format-tgz-and-logging.md
  docs/subcommand-specs/features-package/tasks/06-features-package-json-output-contract-and-text-separation.md
  docs/subcommand-specs/features-package/tasks/07-features-package-validation-and-error-messages.md
  docs/subcommand-specs/features-package/tasks/08-features-package-tests-and-fixtures.md
  docs/subcommand-specs/features-package/tasks/09-features-package-examples-and-docs-update.md
  docs/subcommand-specs/features-package/tasks/10-features-package-infra-dir-iteration-utility.md
Labels: docs

Update validation and testing docs for read-configuration
  docs/subcommand-specs/read-configuration/tasks/286-implement-full-parity-for-read-configuration.md
  docs/subcommand-specs/read-configuration/tasks/294-validation-and-error-messages.md
  docs/subcommand-specs/read-configuration/tasks/296-tests-and-examples.md
Labels: docs

Enhance task management script and add Rust coding guidelines
  .devcontainer/devcontainer.json
  .opencode/agent/gh-issue-implementer.md
  .opencode/command/implement-task.md
  .opencode/context/rust-lang.md
  scripts/work_issue.sh
Labels: ci

fix(config): enforce JSON object requirement and improve error handling for missing config
  crates/core/src/config.rs
  crates/deacon/src/commands/read_configuration.rs
  crates/deacon/tests/integration_e2e.rs
Labels: none

feat: task/read configuration 294 validation and error messages (#378)
  crates/core/src/config.rs
  crates/deacon/src/commands/read_configuration.rs
  crates/deacon/tests/integration_e2e.rs
Labels: none

refactor: update devcontainer mounts and improve task implementation instructions
  .devcontainer/devcontainer.json
  .gitignore
  .opencode/command/implement-task.md
Labels: none

feat(features-plan): Parallelize OCI metadata fetch with bounded concurrency (#381)
  Cargo.lock
  crates/deacon/Cargo.toml
  crates/deacon/src/commands/features.rs
Labels: build, deps

refactor: update CodeRabbit configuration for streamlined review process
  .coderabbit.yaml
Labels: none

feat: add GitHub Actions workflow for OpenCode review on PR comments
  .github/workflows/mav-opencode-review.yml
Labels: ci

feat: add OpenCode review workflows for PR comments and Codex integration
  .github/workflows-old/mav-opencode-review.yml
  .github/workflows/mav-codex-review.yml
Labels: ci

refactor: update step name for OpenCode auth.json recreation in Codex workflow
  .github/workflows/mav-codex-review.yml
Labels: ci

refactor: rename workflow and update comments for Codex integration
  .github/workflows/mav-codex-review.yml
Labels: ci

refactor: update Codex workflow to use issue number for PR references and enhance PR info retrieval
  .github/workflows/mav-codex-review.yml
Labels: ci

refactor: update Codex CLI invocation to use npx and streamline feedback output
  .github/workflows/mav-codex-review.yml
Labels: ci

refactor: enhance Codex auth.json setup and ensure Codex home directory exists
  .github/workflows/mav-codex-review.yml
Labels: ci

refactor: enhance final message output handling with unique delimiter
  .github/workflows/mav-codex-review.yml
Labels: ci

refactor: update final message output to use base64 encoding for single-line handling
  .github/workflows/mav-codex-review.yml
Labels: ci

refactor: streamline Codex CLI invocation with conditional prompt handling and cleanup
  .github/workflows/mav-codex-review.yml
Labels: ci

refactor: comment out unused Rust setup steps in Codex workflow
  .github/workflows/mav-codex-review.yml
Labels: ci

refactor: simplify base64 encoding of final message output to avoid quoting issues
  .github/workflows/mav-codex-review.yml
Labels: ci

refactor: enhance Codex review prompt with detailed guidance and structured output requirements
  .github/workflows/mav-codex-review.yml
Labels: ci

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "examples/**"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**", "scripts/**"]

build:
  - changed-files:
      - any-glob-to-any-file: ["Cargo.toml", "crates/**/Cargo.toml", "Makefile"]

deps:
  - changed-files:
      - any-glob-to-any-file: ["Cargo.lock"]
