Repository get2knowio/deacon, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, ci, build, deps

.github/labeler.yml:

docs:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "examples/**"]

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**", "scripts/**"]

build:
  - changed-files:
      - any-glob-to-any-file: ["Cargo.toml", "crates/**/Cargo.toml", "Makefile"]

deps:
  - changed-files:
      - any-glob-to-any-file: ["Cargo.lock"]

refactor: uncomment Rust setup steps and cache configuration in Codex workflow
  .github/workflows/mav-codex-review.yml
Labels: ci

fix: Add --workspace-folder argument to CLI tests for read-configuration
  crates/deacon/tests/integration_override_secrets_cli.rs
Labels: none

fix: Fix terminal dimension type consistency and add comprehensive validation tests for read-configuration (#380)
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/read_configuration.rs
  crates/deacon/tests/integration_e2e.rs
  crates/deacon/tests/integration_override_secrets_cli.rs
  crates/deacon/tests/integration_read_configuration_output.rs
  crates/deacon/tests/json_output_purity.rs
  crates/deacon/tests/smoke_basic.rs
  crates/deacon/tests/test_read_configuration_validation.rs
Labels: none

ci: add maverick intake poller workflow and script from maverick branch
  .github/workflow-scripts/maverick/intake_poller.py
  .github/workflows/mav-intake-poller.yml
Labels: ci

refactor: comment out scheduled polling interval in maverick intake poller workflow
  .github/workflows/mav-intake-poller.yml
Labels: ci

ci: add gh_graphql.sh helper from maverick branch
  .github/workflow-scripts/lib/gh_graphql.sh
Labels: none

refactor: replace shell helper with direct GraphQL API calls and add preflight checks
  .github/workflow-scripts/maverick/intake_poller.py
  .github/workflows/mav-intake-poller.yml
Labels: ci

fix: update GitHub token reference in intake poller workflow
  .github/workflows/mav-intake-poller.yml
Labels: ci

fix: improve error handling for GraphQL project loading and provide helpful hints
  .github/workflow-scripts/maverick/intake_poller.py
Labels: none

refactor: update gh_graphql function signature and add fetch_all_items for paginated retrieval
  .github/workflow-scripts/maverick/intake_poller.py
Labels: none

feat: add testing framework and scripts for workflow scripts
  .github/workflow-scripts/CI_INTEGRATION.md
  .github/workflow-scripts/README.md
  .github/workflow-scripts/TESTING.md
  .github/workflow-scripts/maverick/intake_poller.py
  .github/workflow-scripts/maverick/test_intake_poller.py
  .github/workflow-scripts/test_workflow_scripts.sh
Labels: none

fix: improve error reporting in intake_poller for agent-task failures
  .github/workflow-scripts/maverick/intake_poller.py
Labels: none

fix: authenticate gh CLI with PAT before running intake_poller
  .github/workflow-scripts/lib/gh_graphql.sh
  .github/workflow-scripts/maverick/__pycache__/intake_poller.cpython-312.pyc
  .github/workflow-scripts/maverick/__pycache__/test_intake_poller.cpython-312.pyc
  .github/workflows/mav-intake-poller.yml
Labels: ci

fix: restore agent-task as primary purpose, improve error reporting
  .github/workflow-scripts/maverick/intake_poller.py
  .github/workflows/mav-intake-poller.yml
Labels: ci

fix: use gh auth login to properly authenticate for agent-task
  .github/workflows/mav-intake-poller.yml
Labels: ci

fix: unset GH_TOKEN before gh auth login to allow credential storage
  .github/workflows/mav-intake-poller.yml
Labels: ci

fix: update gh CLI authentication to use OAuth token and improve error handling
  .github/workflows/mav-intake-poller.yml
Labels: ci

ci: make GH_TOKEN available to mav-intake-poller script; consistent pre-check
  .github/workflows/mav-intake-poller.yml
Labels: ci

ci: provide GITHUB_TOKEN to poller so gh CLI can authenticate
  .github/workflows/mav-intake-poller.yml
Labels: ci

ci: fix YAML heredoc indentation and gh hosts.yml format
  .github/workflows/mav-intake-poller.yml
Labels: ci

ci: remove quotes from heredoc delimiter to allow variable expansion
  .github/workflows/mav-intake-poller.yml
Labels: ci

ci: use gh auth login --with-token for proper authentication
  .github/workflows/mav-intake-poller.yml
Labels: ci

ci: write gh hosts.yml directly with token from env var
  .github/workflows/mav-intake-poller.yml
Labels: ci

ci: add gh config.yml and restore env var expansion in hosts.yml
  .github/workflows/mav-intake-poller.yml
Labels: ci

ci: fix heredoc indentation and simplify config.yml
  .github/workflows/mav-intake-poller.yml
Labels: ci

ci: restore original hosts.yml format with GH_OAUTH env vars
  .github/workflows/mav-intake-poller.yml
Labels: ci

ci: add gh auth status check for debugging
  .github/workflows/mav-intake-poller.yml
Labels: ci

ci: add GH_HOST and pre-flight gh auth check in poller step
  .github/workflows/mav-intake-poller.yml
Labels: ci

ci: use GH_OAUTH_TOKEN (with workflow scope) for GH_TOKEN in poller
  .github/workflows/mav-intake-poller.yml
Labels: ci

ci: use GH_PAT for Projects v2, GH_TOKEN for gh CLI (agent-task)
  .github/workflows/mav-intake-poller.yml
Labels: ci

ci: use GH_PROJECTS_TOKEN for GraphQL, hosts.yml token for gh CLI
  .github/workflow-scripts/maverick/intake_poller.py
  .github/workflows/mav-intake-poller.yml
Labels: ci

ci: add error handling and logging for project status update
  .github/workflow-scripts/maverick/intake_poller.py
Labels: none

Refactor code structure for improved readability and maintainability
  .github/pull_request_template.md
  .github/workflow-scripts/CI_INTEGRATION.md
  .github/workflow-scripts/README.md
  .github/workflow-scripts/TESTING.md
  .github/workflow-scripts/lib/gh_graphql.sh
  .github/workflow-scripts/maverick/__pycache__/intake_poller.cpython-312.pyc
  .github/workflow-scripts/maverick/__pycache__/test_intake_poller.cpython-312.pyc
  .github/workflow-scripts/maverick/intake_poller.py
  .github/workflow-scripts/maverick/test_intake_poller.py
  .github/workflow-scripts/test_workflow_scripts.sh
  .github/workflows-old/mav-opencode-review.yml
  .github/workflows/mav-codex-review.yml
  .github/workflows/mav-intake-poller.yml
  .opencode/command/implement-task.md
  .opencode/context/rust-lang.md
  CODEX_FINDINGS.md
  docs/CLI_PARITY.md
  docs/repomix-output-danielmeppiel-apm.md
  docs/repomix-output-devcontainers-cli.xml
  scripts/install.sh
  scripts/test_install.sh
  scripts/work_issue.sh
Labels: docs, ci

Add Speckit prompt files and update instructions
  .github/copilot-instructions.md
  .github/prompts/speckit.analyze.prompt.md
  .github/prompts/speckit.checklist.prompt.md
  .github/prompts/speckit.clarify.prompt.md
  .github/prompts/speckit.constitution.prompt.md
  .github/prompts/speckit.implement.prompt.md
  .github/prompts/speckit.plan.prompt.md
  .github/prompts/speckit.specify.prompt.md
  .github/prompts/speckit.tasks.prompt.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  .vscode/settings.json
Labels: none

Add read-configuration spec parity documentation
  specs/001-read-config-parity/checklists/requirements.md
  specs/001-read-config-parity/contracts/read-configuration.schema.json
  specs/001-read-config-parity/data-model.md
  specs/001-read-config-parity/plan.md
  specs/001-read-config-parity/quickstart.md
  specs/001-read-config-parity/research.md
  specs/001-read-config-parity/spec.md
  specs/001-read-config-parity/tasks.md
Labels: none

Remove legacy chatmodes and prompts, update instructions
  .github/chatmodes/address-pr-comments.chatmode.md
  .github/chatmodes/maintainer-review.chatmode.md
  .github/chatmodes/rust-beast-mode.chatmode.md
  .github/chatmodes/rust-incremental-implementer.chatmode.md
  .github/copilot-instructions.md
  .github/prompts/code-review.prompt.md
  .github/prompts/pr-apply-review.md
  .github/prompts/pr-implement.md
  .github/prompts/pr-senior-review.md
  .github/prompts/subcommand-design.md
Labels: none

Add fast test loop, workspace mount detection, and registry parser improvements
  .dockerignore
  .specify/memory/constitution.md
  AGENTS.md
  Makefile
  crates/core/src/docker.rs
  crates/core/src/logging.rs
  crates/core/src/oci.rs
  crates/core/src/ports.rs
  crates/core/src/registry_parser.rs
  crates/core/tests/integration_ports.rs
  crates/deacon/src/cli.rs
  crates/deacon/src/commands/read_configuration.rs
  crates/deacon/tests/integration_read_configuration.rs
  crates/deacon/tests/test_read_configuration_validation.rs
  specs/001-read-config-parity/tasks.md
Labels: build

fix: use derive(Default) for clippy::derivable_impls lint
  crates/core/src/entrypoint.rs
  crates/core/src/retry.rs
Labels: none

fix: workspace mount detection, feature source preservation, and init handling (#385)
  crates/core/src/docker.rs
  crates/deacon/src/commands/read_configuration.rs
Labels: none

Add read-configuration example suite
  examples/README.md
  examples/read-configuration/README.md
  examples/read-configuration/basic/README.md
  examples/read-configuration/basic/devcontainer.json
  examples/read-configuration/compose/README.md
  examples/read-configuration/compose/devcontainer.json
  examples/read-configuration/compose/docker-compose.yml
  examples/read-configuration/extends-chain/README.md
  examples/read-configuration/extends-chain/base/devcontainer.json
  examples/read-configuration/extends-chain/leaf/devcontainer.json
  examples/read-configuration/extends-chain/mid/devcontainer.json
  examples/read-configuration/features-additional/README.md
  examples/read-configuration/features-additional/devcontainer.json
  examples/read-configuration/features-additional/extra-feature/devcontainer-feature.json
  examples/read-configuration/features-minimal/README.md
  examples/read-configuration/features-minimal/devcontainer.json
  examples/read-configuration/features-minimal/minimal-feature/devcontainer-feature.json
  examples/read-configuration/id-labels-and-devcontainerId/README.md
  examples/read-configuration/id-labels-and-devcontainerId/devcontainer.json
  examples/read-configuration/legacy-normalization/README.md
  examples/read-configuration/legacy-normalization/devcontainer.json
  examples/read-configuration/override-config/README.md
  examples/read-configuration/override-config/devcontainer.json
  examples/read-configuration/override-config/override.jsonc
  examples/read-configuration/with-variables/README.md
  examples/read-configuration/with-variables/devcontainer.jsonc
Labels: docs
